@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.writeArea{
    position:relative;
    display: block;
    width: 100%;
    height: 100%;
}

.writeOutline {
    margin :0 auto;
    width: 95%;
    height: 98%;
    position: relative;
    overflow: hidden;
}

.writeOutline form{
    width: 100%;
    height: 100%;
}

.writeBg {
    width: 100%;
    height: 100%;
    background: #4e4e4e;
    opacity: 1;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.currDate {
    width: 100%;
    height: 12%;
    position: relative;
    display: block;
    font-family: 'Pretendard-Regular';
    font-weight: Bold;
    font-size: 34px;
    text-align: right;
}

.currDate span{
    width: auto;
    height: auto;
    color: #f8f8f8;
    position: absolute;
    display: block;
    bottom: 10px;
    left: 15%;
    font-family: 'Pretendard-Regular';
    font-weight: Bold;
    font-size: 34px;
    text-align: right;
}

.innerOutline {
    margin: 0 auto;
    width: 76%;
    height: 75%;
    opacity: 1;
    position: relative;
    display: block;
    left: 0px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.innerBg {
    width: 100%;
    height: 100%;
    background: #ebebeb;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.titles {
    margin-top:2% ;
    width: 100%;
    position: relative;
    display: block;
}

.title {
    width: 100%;
    position: relative;
    display: block;
    font-family: 'Pretendard-Regular';
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    
    width: 100%;
    color: #5f5f5f;
    position: relative;
    display: block;
    font-family: 'Pretendard-Regular';
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.emoSelectBox {
    margin-top: 2%;
    width: 100%;
    height: 6%;
    position: relative;
    display: block;
    text-align: center;
}

.select {
    width: 7%;
    height: 100%;
    background: #424242;
    position: relative;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    color: #ebebeb;
    font-weight: bold;
}


.emojiListBox {
    width: 80%;
    height: 30%;
    margin: 2% auto;
    position: relative;
    overflow: hidden;
}

.emojiListBg {
    width: 100%;
    height: 100%;
    background: #424242;
    position: absolute;
    overflow: hidden;
}

.emojiList {
    width: auto;
    display: flex;
    position: absolute;
    top: 23%;
    left: 25px;
    font-family: Work Sans;
    font-size: 64px;
    text-align: left;
    justify-content: space-around;
    flex-direction: row;
}

.emojiList span{
    opacity:.5;
}

.selected{
    opacity: 1 !important;
}

@keyframes emojiAnimation{
    0%{  scale:0%;  rotate:60deg;}
    40%{ scale:110%;rotate:-10deg;}
    60%{ scale:80%; rotate:7deg;}
    75%{ scale:102%;rotate:-2deg;}
    90%{ scale:90%; rotate:5deg;}
    100%{scale:100%;rotate:0deg;}
}

.selectedEmoji {
    width: 100%;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    font-family: Work Sans;
    font-size: 96px;
    text-align: center;
}

.animation{
    animation-name: emojiAnimation ;
    animation-duration:0.5s ;
    animation-timing-function:ease-out;
}


.buttons {
    width: 15%;
    height: 12%;
    display: flex;
    position: relative;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    gap: 15%;
}

.before {
    width: 100px;
    height: 40px;
    background: #8bb8e8;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.beforeFont {
    line-height: 40px;
    color: #ffffff;
    position: relative;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: bold;
}

.next {
    width: 100px;
    height: 40px;
    background: #ba9aff;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.nextFont {
    line-height: 40px;
    color: #ffffff;
    position: relative;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: bold;
}
.diaryNote{
    display: flex;
    margin: 0 auto;
    z-index: 1;
    width: 70%;
    height: 50%;
    position: relative;
    border: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.diaryNote textarea{
    width: 100%;
    max-height: 135%;
    font-size: 40px;
    text-align: center;
    color: #404040;
    background-color: #5f5f5f00;
    border: 0;
    font-family: 'KyoboHand';
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    resize: none;
    letter-spacing: 0px;
    word-spacing: 0px;
    line-height: 40px;
    overflow-y: hidden;
}

.diaryNote textarea:focus {
    outline: none;
}

.selectImg{
    width: 100px;
    height: 40px;
    background: #ba9aff;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    top: 6%;
    right: 15%;
    cursor: pointer;
}
.inputFile{
    display:none;
}

.emojiSlider{
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
.contents article .active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }



