<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diaryChart</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'happy😄', 'sad😭', 'angery😡'],
          ['1',  1000,      400,    300],
          ['2',  1170,      460,     25],
          ['3',  660,       1120,    10],
          ['4',  1030,      540,     0]
        ]);


        var options = {
          title: 'Company Performance',
          fontSize: 20,
          legend: { position: 'bottom'},
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body>
    <div id="curve_chart" style="width: 100%; height: 320px;"></div>
</body>
</html>