<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diaryChart</title>

</head>
<body>
<th:block th:fragment="diaryChart">
    <div id="curve_chart" style="width: 100%; height: 320px;"></div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            data.addColumn('String', )
          ['emotions', '기쁨😄', '사랑🥰', '슬픔😭', '우울😔', '힘듦😫', '분노🤬'],

          ['', 1000, 400, 300, 100, 20, 13]
        ]);


        var options = {
          title: 'Company Performance',
          fontSize: 20,
          legend: { position: 'bottom'},
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</th:block>
</body>
</html>