<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>emotionChart</title>

</head>
<body>
<th:block th:fragment="emojiChart">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">





      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var jsonData = $.ajax({
            url: "/emotionChart";
            dataType : "json",
            async: true;
        });.responseText;
        alert(jsonData);
        var data = google.visualization.arrayToDataTable(jsonData);

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        chart.draw(data, google.charts.Bar.convertOptions(options));


      }

        var options = {
          chart: {
            title: '한달 간의 감정 그래프',
          },
          fontSize: 15
        };


      }
    </script>
    <div id="columnchart_material" style="padding:0px 10px; width: 100%; height: 450px;"></div>
</th:block>
</body>
</html>