<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/main/resources/static/css/adminBoard.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">   
    $(document).ready( function() { 
        $(".sidebar").load("./sidebar.html");     
        $(".menubar").load("./menubar.html"); 
    });
    </script>
    <title>공지 작성</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar"></aside>
        <main class="bodyContainer">
            <div class="menubar"></div> 
            <div class="content">
                <form action="./board.html" method="get" >
                    <div id="board">
                        <div id="boardBox">
                            <span class="titles">
                                <span>제목: </span>
                                <input type="text" id="board_title" class="boardTitle" readonly/>
                            </span>
                            <span class="titles">공개
                                <input type="checkbox" id="board_yn" class="openChk" readonly/>
                            </span>
                        </div>
                        <div id="board_middle">
                            <textarea  id="board_contents" readonly></textarea>
                        </div>
                    </div>
                    <div id="board_bottom">
                        <input type="submit" value="수정하기"/>
                        <input type="button" onclick="history.back();" value="취소"/>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
</html>