<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>댓글 확인</title>
    <link rel="stylesheet" type="text/css" href="css/popup.css" />
</head>
<body>
    <div id="wrap">
        <form action="/deleteReply" method="post">
            <div class="line">
                <div id="top">
                    <span id="title">댓글 확인</span>
                </div>
                <div id="middle">
                    <span class="box" >
                        <div class="sTitle">게시자이메일</div>
                        <input type="text" id="member_email" th:field="*{member.MEMBER_EMAIL}" readonly />
                    </span>
                    <span class="box" >
                        <div class="sTitle">닉네임</div>
                        <input type="text" id="member_nick" th:field="*{member.MEMBER_NICK}" readonly />
                    </span>
                    <span class="box" >
                        <span class="sTitle">내용</span>
                        <textarea type="text" id="member_content" th:field="*{reply.REPLY}" readonly></textarea>
                    </span>
                    <span class="box" >
                        <div class="sTitle">신고 횟수</div>
                        <input type="text" id="black_count" th:field="*{reply.REPLY_DATE}" readonly/>
                    </span>
                </div>
                <div id="delBtn">
                    <input type="submit" class="commentDel" value="게시물 삭제"/>
<!--                    <input type="hidden" name="reply_seq" th:value="${reply.REPLY_SEQ}"/>-->
                </div>
            </div>
        </form>
    </div>
</body>
</html>