<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>[관리자] 일기 목록</title>
    <link rel="stylesheet" type="text/css" href="css/admin2.css?after" />
    <link rel="stylesheet" type="text/css" href="css/adminList.css" />
    <script type="text/javascript" src="js/adminList.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <aside th:replace="~{admin/sidebar :: sidebar }"></aside>
      <main class="bodyContainer">
        <div th:replace="~{admin/menubar :: menubar }"></div>
        <div class="content">
          <div class="searchTap">
            <form action="/admin_diaryList" method="get">
              <select class="searchList" id="type" name="type">
                <option value="DIARY_PRIVATE" selected>공개/비공개</option>
                <option value="EMOTION">감정</option>
                <option value="MEMBER_EMAIL">이메일</option>
                <option value="MEMBER_NICK">닉네임</option>
              </select>
              <input class="searchInput" type="text" id="keyword" name="keyword"
                placeholder="해당 정보를 입력해주세요." value="" />
              <input type="submit" class="searchBtn" value="검색" />
            </form>
          </div>
          <!-- 테이블 -->
          <form action="/deleteDiary">
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th><input type="checkbox" name="check" value="selectall" onclick="selectAll(this)" /></th>
                  <th>공개/비공개</th>
                  <th>감정 분류</th>
                  <th>이모지</th>
                  <th>작성자 이메일</th>
                  <th>닉네임</th>
                  <th>일기2</th>
                </tr>
              </thead>
              <tbody id="rows">
              <tr th:each="diary, status : ${userDiaryList}" id="clones" th:if = "${status.index} < 10">
                <td><input type="checkbox"  name="check" th:value="${diary.DIARY_SEQ}" /></td>
                <td>[[${diary.DIARY_PRIVATE}]]</td>
                <td>[[${diary.EMOTION}]]</td>
                <td>[[${diary.EMOJI}]]</td>
                <td>[[${diary.MEMBER_EMAIL}]]</td>
                <td>[[${diary.MEMBER_NICK}]]</td>
                <td><a th:onclick="|javascript:diaryPopup('${diary.DIARY_SEQ}')|">보기</a></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- 테이블 end-->
          <div class="footerBtn">
            <span class="deleteBtn"><i class="fa-solid fa-trash"></i><input type="submit" value="선택 삭제"/></a></span>
          </div>
          </form>
        </div>
        <!-- content end -->
      </main>
    </div>
    <!-- 팝업 -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script th:inline="javascript">
      const diaryList = [[${userDiaryList}]];
      const pageCount = parseInt(diaryList.length / 10);
      console.log(pageCount);
      let startPage = 1;
      console.log(diaryList);

<!--      console.log(type(diaryList));-->

     $(document).ready(function () {
<!--      const diaryList = JSON.parse(String([[${userDiaryList}]]));-->
<!--      console.log(diaryList);-->
<!--      console.log(type(diaryList));-->

        $(document).scroll(function() {
          var maxHeight = $(document).height();
          var currentScroll = $(window).scrollTop() + $(window).height();

          var pageCnt = 10;
          var html = "";

        try{
            if (maxHeight <= currentScroll + 300) {
                for(var i = (startPage * pageCnt) - 1;  i < (startPage + 1) * pageCnt; i++) {
                    html += '<tr>' +
                            '<td><input type="checkbox"  name="check" value="' + diaryList[i].DIARY_SEQ + '" /></td>' +
                            '<td>' + diaryList[i].EMOTION + '</td>' +
                            '<td>' + diaryList[i].EMOJI + '</td>' +
                            '<td>' + diaryList[i].MEMBER_EMAIL + '</td>' +
                            '<td>' + diaryList[i].MEMBER_NICK + i + '</td>' +
                            '<td><a onclick="javascript:diaryPopup(' + diaryList[i].DIARY_SEQ + ')">보기</a></td>' +
                            '</tr>';

                }
                 $('#rows').append(html);
            }
            console.log(startPage);
            startPage++;
            console.log(startPage);
          }
          catch(error) {
              console.log("에에에에에에러");
          }
        })
      });

    </script>
  </body>
</html>
