<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>[관리자] 일기 목록</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <link rel="stylesheet" type="text/css" href="css/adminList.css" />
    <script type="text/javascript" src="js/adminList.js"></script>
<!--    <script type="text/javascript" src="js/popup.js"></script>-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <aside th:replace="~{admin/sidebar :: sidebar }"></aside>
      <main class="bodyContainer">
        <div th:replace="~{admin/menubar :: menubar }"></div>
        <div class="content">
          <div class="searchTap">
            <form action="/admin_diaryList" method="get">
              <select class="searchList" id="type" name="type">
                <option value="DIARY_PRIVATE" selected>공개/비공개</option>
                <option value="EMOTION">감정</option>
                <option value="MEMBER_EMAIL">이메일</option>
                <option value="MEMBER_NICK">닉네임</option>
              </select>
              <input class="searchInput" type="text" id="keyword" name="keyword"
                placeholder="해당 정보를 입력해주세요." value="" />
              <input type="submit" class="searchBtn" value="검색" />
            </form>
          </div>
          <!-- 테이블 -->
          <form action="/deleteDiary">
<!--            <input type="hidden" name="member_email" th:value="${member.MEMBER_EMAIL}"/>-->
            <div>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <input
                      type="checkbox"
                      name="check"
                      value="selectall"
                      onclick="selectAll(this)"
                    />
                  </th>
                  <th>공개/비공개</th>
                  <th>감정 분류</th>
                  <th>이모지</th>
                  <th>작성자 이메일</th>
                  <th>닉네임</th>
                  <th>일기</th>
                </tr>
              </thead>
              <tbody>

                <tr th:each="diary : ${userDiaryList}">
                   <input type="hidden" name="diary_seq" id="diary_seq" th:value="${diary.DIARY_SEQ}"/>
                  <td><input type="checkbox"  name="check" th:value="${diary.DIARY_SEQ}" /></td>
                  <td>[[${diary.DIARY_PRIVATE}]]</td>
                  <td>[[${diary.EMOTION}]]</td>
                  <td>[[${diary.EMOJI}]]</td>
                  <td>[[${diary.MEMBER_EMAIL}]]</td>
                  <td>[[${diary.MEMBER_NICK}]]</td>
                  <td><a onclick="diaryPopup(diary_seq)">보기</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 테이블 end-->
          <div class="footerBtn">
            <span class="deleteBtn"><i class="fa-solid fa-trash"></i><input type="submit" value="선택 삭제"/></a></span>
          </div>
          </form>
        </div>
        <!-- content end -->
      </main>
    </div>
    <!-- 팝업 -->
    <script type="text/javascript" src="js/popup.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js%22%3E"></script>
    <script>
      const diarySeq =$("#diary_seq").val();
      var diary = window.open("about:blank",:_blank);
      $.ajax ({
        url: "/diaryPopup",
        method: "post",
        dataType: "html",
        data: "diarySeq",
        success: function(data) {
            diary.location.href="/diaryPopup/{diarySeq}"

        }

      })
    </script>
  </body>
</html>
