<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/main/resources/static/css/popup.css" />
    <title>일기 확인</title>
</head>
<body>
    <div id="wrap">
        <form action="#" method="post">
            <div class="line">
                <div id="top">
                    <span id="title">일기 확인</span>
                </div>
                <div id="middle">
                    <span class="box" >
                        <div class="sTitle">게시자이메일</div> 
                        <input type="text" id="member_email" value="" readonly />
                    </span>
                    <span class="box" >
                        <div class="sTitle">닉네임</div> 
                        <input type="text" id="member_nick" value="" readonly />
                    </span>
                    <span class="box" >
                        <div class="sTitle">업로드이미지</div> 
                        <input type="image" id="diary_image" value="" readonly />
                    </span>
                    <span class="box" >
                        <span class="sTitle">내용</span> 
                        <textarea type="text" id="member_content" value="comment" readonly>안ㄴㅇㅁㄹㅇㄴㄹㅇㄴㄹㅇㄹㅇㄹㅇㄹㅇㄹㄴ녕하세옹 저의 일기장입니다</textarea>
                    </span>
                    <span class="box" >
                        <div class="sTitle">신고 횟수</div> 
                        <input type="text" id="black_count" value="" readonly />
                    </span>
                </div>
                <div id="delBtn">
                    <input type="submit" class="commentDel" value="게시물 삭제"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>