<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일기 확인</title>
    <link rel="stylesheet" type="text/css" href="css/popup.css" />
</head>
<body>
    <div id="wrap">
        <form action="/deleteDiary" method="post">
            <div class="line">
                <div id="top">
                    <span id="title">일기 확인</span>
                </div>
                <div id="middle">
                    <span class="box" >
                        <div class="sTitle">게시자이메일</div> 
                        <input type="text" id="member_email" th:value="${diary.MEMBER_EMAIL}" readonly />
                    </span>
                    <span class="box" >
                        <div class="sTitle">닉네임</div> 
                        <input type="text" id="member_nick" th:value="${diary.MEMBER_NICK}" readonly />
                    </span>
                    <span class="box" >
                        <div class="sTitle">업로드이미지</div> <!-- 모르겠소 -->
                        <img id="diary_image" th:src="${diary.bgimg_path}" readonly />
                    </span>
                    <span class="box" >
                        <span class="sTitle">내용</span> 
                        <textarea type="text" id="member_content" th:value=${diary.CONTENTS}" readonly></textarea>
                    </span>
                    <span class="box" >
                        <div class="sTitle">신고 횟수</div> <!-- 이것도 모르겠소 -->
                        <input type="text" id="black_count" th:value="${diary.CONTENTS}" readonly />
                    </span>
                </div>
                <div id="delBtn">
                    <input type="submit" class="commentDel" value="게시물 삭제"/>
                    <input type="hidden" name="diary_seq" th:value="${diary.DIARY_SEQ}"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>