<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[관리자] 메인</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <link rel="stylesheet" type="text/css" href="css/adminMain.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <aside th:replace="~{admin/sidebar :: sidebar }"></aside>
        <main class="bodyContainer">
            <div th:replace="~{admin/menubar :: menubar }"></div>
            <div class="content">
                <div id="mCol1">
                    <div class="mCol1-1">
                        <i class="fa-solid fa-user"></i> 이용 사용자
                        <div th:text="${users}"></div> <!--여기에 이용자 수 -->
                    </div>
                    <div class="mCol1-1">
                        <i class="fa-solid fa-user-slash"></i> 탈퇴한 회원
                        <div th:text="${removeUser}"></div> <!--여기에 탈퇴한 회원 -->
                    </div>
                    <div class="mCol1-1">
                        <i class="fa-sharp fa-solid fa-book-medical"></i> 일기 등록
                        <div th:text="${diary}"></div> <!--여기에 일기 등록-->
                    </div>
                    <div class="mCol1-1">
                        <i class="fa-sharp fa-solid fa-handcuffs"></i> 신고 요청
                        <div th:text="${reply}"></div> <!--여기에 신고 내용-->
                    </div>
                </div>
                <div class="mCol2">
                    <div id="chart"> <!--일기 등록 건수 그래프-->
                        <th:block th:replace="~{/admin/chart/diaryChart :: diaryChart}"></th:block>
                        <th:block th:replace="~{/admin/chart/emotionChart :: emojiChart}"></th:block>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>