<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[관리자] 메인</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <link rel="stylesheet" type="text/css" href="css/adminMain.css" />
<!--    <link rel="stylesheet" type="text/css" href="css/diaryCount.css" />-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <aside th:replace="~{admin/sidebar :: sidebar }"></aside>
        <main class="bodyContainer">
            <div th:replace="~{admin/menubar :: menubar }"></div>
            <div class="content">
                <div id="mCol1">
                    <div class="mCol1-1">
                        <i class="fa-solid fa-user"></i> 총 이용자
                        <div th:text="${users}"></div> <!--여기에 이용자 수 -->
                    </div>
                    <div class="mCol1-1" id="newface">
                        <i class="fa-solid fa-user"></i> 이번달 신규
                        <div id="joinCount"></div>
                    </div>
                    <div class="mCol1-1">
                        <i class="fa-solid fa-user-slash"></i> 탈퇴한 회원
                        <div th:text="${removeUser}"></div> <!--여기에 탈퇴한 회원 -->
                    </div>
                    <div class="mCol1-1">
                        <i class="fa-sharp fa-solid fa-book-medical"></i> 일기 등록
                        <div th:text="${diary}"></div> <!--여기에 일기 등록-->
                    </div>
                    <div class="mCol1-1" id="todayCount">
                        <i class="fa-sharp fa-solid fa-book-medical"></i>오늘의 일기
                        <div id="diaryCount"></div>
                    </div>
                    <div class="mCol1-1">
                        <i class="fa-sharp fa-solid fa-handcuffs"></i> 신고 요청
                        <div th:text="${reply}"></div> <!--여기에 신고 내용-->
                    </div>
                </div>
                <div class="mCol2">
                    <div id="chart"> <!--일기 등록 건수 그래프-->
                        <div id="emotion">
                            <div th:replace="~{/admin/chart/emotionChart :: emojiChart}" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
<!--            오늘 일기 등록 개수-->
            var diaryCnt = $.ajax({
                url: '/diaryCnt',
                type: 'post',
                dataType: 'json',
                success: function(dCnt) {
                    $('#diaryCount').text(dCnt).val();
                },
                error: function() {
                    console.log(dCnt);
                    alert("error");
                }
            })
<!--            한달동안 가입한 회원 수 -->
            var memberCnt = $.ajax({
                url: '/memberCnt',
                type: 'post',
                dataType: 'json',
                success: function(mCnt) {
                    $('#joinCount').text(mCnt).val();
                },
                error: function() {
                    console.log(mCnt);
                    alert("error");
                }
            })

    </script>
</body>
</html>