<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[관리자]</title>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menubar" th:fragment="menubar">
        <link rel="stylesheet" type="text/css" href="css/admin.css" />
        <div id="left-menu">
            <div id="adminTitle">
                <a href="#">
                    관리자 페이지
                </a>
            </div>
        </div>
        <div id="rigth-menu">
            <span class="admin">
                <a href="#">
                    <span>관리자</span>
                </a>
            </span>
            <th:block th:if="${session.admin_email}">
            <span class="logout">
                <a href='#' onclick="if(confirm('정말로 로그아웃 하시려고요..?😨')) location.href='/logout'">
                    <span>로그아웃</span>
                </a>
            </span>
            </th:block>
        </div>
    </div>
</body>
</html>