<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[관리자]</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <link rel="stylesheet" type="text/css" href="css/adminList.js" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menubar" th:fragment="menubar">
        <div id="left-menu">
            <div id="adminTitle">
                <a href="#">
                    관리자 페이지
                </a>
            </div>
        </div>
        <div id="rigth-menu">
            <span class="admin">
                <a href="#">
                    <span>관리자</span>
                </a>
            </span>
            <span class="login">
                <a href="#">
                    <span>로그아웃</span>
                </a>
            </span>
        </div>
    </div>
</body>
</html>