<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 계정</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/test.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css" />
    <link rel="stylesheet" type="text/css" href="../js/adminList.js" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menubar">
        <div id="left-menu">
            <div id="adminTitle">
                <a href="#">
                    관리자 페이지
                </a>
            </div>
        </div>
        <div id="rigth-menu">
            <span class="admin">
                <a href="#">
                    <span>관리자</span>
                </a>
            </span>
            <span class="login">
                <a href="#">
                    <span>로그아웃</span>
                </a>
            </span>
        </div>
    </div>        
    
</body>
</html>