<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[관리자] 신고 목록</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <link rel="stylesheet" type="text/css" href="css/adminList.css" />
    <script type="text/javascript" src="js/adminList.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
      <aside th:replace="~{admin/sidebar :: sidebar }"></aside>
      <main class="bodyContainer">
        <div th:replace="~{admin/menubar :: menubar }"></div>
            <div class="content">
                <div class="searchTap">
                  <form action="#" method="get">
                    <select class="searchList" id="searchType" name="searchType">
                      <option value="category" selected>카테고리</option>
                      <option value="sort">신고 분류</option>
                      <option value="reporters">신고자 이메일</option>
                      <option value="respondents">피신고자 이메일</option>
                      <option value="date">신고일</option>
                    </select>
                    <input
                      class="searchInput"
                      type="text"
                      id="searchKeyword"
                      name="searchKeyword"
                      placeholder="해당 정보를 입력해주세요."
                      value=""
                    />
      
                    <input type="submit" class="searchBtn" value="검색" />
                  </form>
                </div>
                <!-- 테이블 -->
                <div>                  
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <input
                            type="checkbox"
                            name="check"
                            value="selectall"
                            onclick="selectAll(this)"
                          />
                        </th>
                        <th>카테고리</th>
                        <th>신고 분류</th>
                        <th>신고자 이메일</th>
                        <th>피신고자 이메일</th>
                        <th>신고일</th>
                        <th>컨텐츠 확인</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="notify : ${notifyList}">
                        <td><input type="checkbox" name="check" th:value="${notify.BLACKLIST_DIARY_SEQ}" /></td>
                        <td>[[${notify.Category}]]</td>
                        <td>[[${notify.BLACKLIST_COMMENT}]]</td>
                        <td><a onclick="memberPopup( )">[[${notify.MEMBER_EMAIL}]]</a></td>
                        <td><a onclick="memberPopup( )">[[${notify.BLACKLIST_DIARY_DATE}]]</a></td>
                        <td>[[${notify.BLACKLIST_DIARY_DATE}]]</td>
                        <td><a onclick="diaryPopup( )">보기</a></td>
                      </tr>
                    </tbody>
                  </table>                  
                </div>
                <!-- 테이블 end-->
                <div class="footerBtn">
                  <span class="deleteBtn"><a href="#"><i class="fa-solid fa-trash"></i>선택 삭제</a></span>            
                </div>
              </div>
            <!-- content end -->
        </main>
    </div>
</body>
</html>