<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>[관리자] 공지 목록</title>
    <link rel="stylesheet" type="text/css" href="css/admin2.css?after" />
    <link rel="stylesheet" type="text/css" href="/css/adminList.css?after" />
    <script type="text/javascript" src="js/adminList.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <aside th:replace="~{admin/sidebar :: sidebar }"></aside>
      <main class="bodyContainer">
        <div th:replace="~{admin/menubar :: menubar }"></div>
        <div class="content">
          <div class="searchTap">
            <form action="/admin_noticeList" method="get">
              <select class="searchList" id="type" name="type">
                <option value="board_title" selected>제목</option>
                <option value="board_date">작성일</option>
                <option value="board_yn">공개/비공개</option>
              </select>
              <input class="searchInput" type="text" id="keyword" name="keyword"
                     placeholder="해당 정보를 입력해주세요." value="" />
              <input type="submit" class="searchBtn" value="검색" />
            </form>
          </div>
          <!-- 테이블 -->
          <form action="/deleteNotice">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <input
                      type="checkbox"
                      name="allCheck"
                      value="selectall"
                      onclick="selectAll(this)"
                    />
                  </th>
                  <th>공지 제목</th>
                  <th>작성일</th>
                  <th>공개/비공개</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="board : ${boards}">
                  <td><input type="checkbox" name="check" th:value="${board.board_seq}" /></td>
                  <td><a th:href="|/boardRevise/${board.board_seq}|" target="_self" class="boardFont">[[ ${board.board_title}]]</a></td>
                  <td th:text="${board.board_date}" class="boardFont"></td>
                  <td th:text="${board.board_yn}" class="boardFont"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 테이블 end-->
          <div class="footerBtn">
            <span class="noticeBtn"><a href="/writeNotice"><i class="fa-solid fa-pen-to-square"></i>공지 작성</a></span>
            <span class="deleteBtn"><i class="fa-solid fa-trash"></i><input type="submit" id="selectBnt" value="선택 삭제"/></a></span>
          </div>
          </form>
        </div>
        <!-- content end -->
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  </body>
</html>
