<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[관리자] 사용자 목록</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <link rel="stylesheet" type="text/css" href="css/adminList.css" />
    <script type="text/javascript" src="js/adminList.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <aside th:replace="~{admin/sidebar :: sidebar }"></aside>
        <main class="bodyContainer">
            <div th:replace="~{admin/menubar :: menubar }"></div>
            <div class="content">
                <div>
                    <div class="searchTap">
                        <form action="#" method="get">
                            <select class="searchList" id="searchType" name="searchType">
                                <option value="email" selected>이메일</option>
                                <option value="nick">닉네임</option>
                                <option value="phone">전화번호</option>
                            </select>                                
                            <input class="searchInput" type="text" id="searchKeyword" name="searchKeyword" 
                                    placeholder="해당 정보를 입력해주세요." value="">    

                            <input type="submit" class="searchBtn" value="검색"/>
                            
                        </form>
                    </div>
                    <!-- 테이블 -->
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>이메일</th>
                                    <th>닉네임</th>
                                    <th>생년월일</th>
                                    <th>전화번호</th>
                                    <th>성별</th>
                                    <th>정지유무</th>
                                </tr>                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>111@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconM"></i></td>
                                    <td><span class="icon1" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>222@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconF"></i></td>
                                    <td><span class="icon2" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>333@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconF"></i></td>
                                    <td><span class="icon1" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconM"></i></td>
                                    <td><span class="icon1" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconF"></i></td>
                                    <td><span class="icon1" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconM"></i></td>
                                    <td><span class="icon1" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconM"></i></td>
                                    <td><span class="icon2" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconM"></i></td>
                                    <td><span class="icon2" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconF"></i></td>
                                    <td><span class="icon2" onclick="memberPopup( )"></span></td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="iconF"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>444@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                                <tr>
                                    <td>bbb@bbb.com</td>
                                    <td>a</td>
                                    <td>2022-10-24</td>
                                    <td>010-2222-2222</td>
                                    <td><i class="fa-solid fa-user-tie"></i></td>
                                    <td>정지유무</td>
                                </tr>
                            </tbody>
                        </table>   
                    </div>
                    <!-- 테이블 end--> 
                </div>                
            </div>

        </main>
    </div>
</body>
</html>