<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대쉬보드</title>
    <link rel="stylesheet" type="text/css" href="../css/diaryAll.css" />
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/reset.css" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <aside class="sidebar">
            <div class="top-menu">
                <ul>
                    <li>
                        <div id="mainImg">
                            <a href="#">
                                <img src="/Img/logoImg.png" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <span> <i class="fa-solid fa-users-rectangle"></i></span>
                            <span>내 일기장</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span> <i class="fa-solid fa-table"></i></span>
                            <span>친구의 일기장</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span> <i class="fa-solid fa-house-user"></i></span>
                            <span>오늘의 일기장</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <ul>
                    <li>
                        대표 : 이건희
                    </li>
                    <li>
                        대표번호 : 010 - 1111 - 1111
                    </li>
                    <li>
                        개인정보취급방침
                    </li>
                    <li>
                        이용약관
                    </li>
                    <li>
                        COPYRIGHT 2022 BY diary. <br />
                        All Rights Reserved.
                    </li>
                </ul>
            </div>
        </aside>
        <main class="bodyContainer">
            <div class="menubar">
                <div id="left-menu">
                    <span id="writeDiary">
                        <a href="#">감정 작성하기</a>
                    </span>
                </div>
                <div id="rigth-menu">
                    <span class="board">
                        <a href="#">
                            <span>공지</span>
                        </a>
                    </span>
                    <span class="notifi">
                        <a href="#">
                            <i class="fa-regular fa-comment-dots"></i>
                        </a>
                    </span>
                    <span>
                        <img src="/Img/logoImg.png" id="user_img">
                    </span>
                    <span class="login">
                        <a href="#">
                            <span>로그인</span>
                        </a>
                    </span>
                    <span class="logout">
                        <a href="#">
                            <span>로그아웃</span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="contents">
                <div class="moodSelect">
                    <div class="happy">
                        <span>🤗</span>
                        <p>기쁨</p>
                    </div>
                    <div class="flutter">
                        <span>😊</span>
                        <p>설렘</p>
                    </div>
                    <div class="sad">
                        <span>😥</span>
                        <p>슬픔</p>
                    </div>
                    <div class="depressed">
                        <span>😔</span>
                        <p>우울</p>
                    </div>
                    <div class="hard">
                        <span>😩</span>
                        <p>힘듦</p>
                    </div>
                    <div class="angry">
                        <span>🤬</span>
                        <p>분노</p>
                    </div>
                </div>
                <div class="mood_diary">
                    <div class="titleContainer">
                        <span>기분 별 감정</span>
                    </div>
                    <div class="diaryContainer">
                        <div class="diaryBox">
                            <div class="diary">
                                <div class="diaryContents">
                                    가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 재밌었다! 😊
                                </div>
                                <div class="diaryContentsFooter">
                                    <div class="diaryEmoji">🤗</div>
                                    <div class="diaryDate">11.01.MON</div>
                                </div>
                            </div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                        </div>
                        <div class="diaryBox">
                            <div class="diary">
                                <div class="diaryContents">
                                    가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 재밌었다! 😊
                                </div>
                                <div class="diaryContentsFooter">
                                    <div class="diaryEmoji">🤗</div>
                                    <div class="diaryDate">11.01.MON</div>
                                </div>
                            </div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                        </div>
                        <div class="diaryBox">
                            <div class="diary">
                                <div class="diaryContents">
                                    가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 재밌었다! 😊
                                </div>
                                <div class="diaryContentsFooter">
                                    <div class="diaryEmoji">🤗</div>
                                    <div class="diaryDate">11.01.MON</div>
                                </div>
                            </div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                        </div>
                        <div class="diaryBox">
                            <div class="diary">
                                <div class="diaryContents">
                                    가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 재밌었다! 😊
                                </div>
                                <div class="diaryContentsFooter">
                                    <div class="diaryEmoji">🤗</div>
                                    <div class="diaryDate">11.01.MON</div>
                                </div>
                            </div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                            <div class="diary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="../js/diaryAll.js" type="text/javascript"></script>
</body>

</html>