<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대쉬보드</title>
    <link rel="stylesheet" type="text/css" href="/css/diaryAll.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/test.css" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <aside th:replace="~{frag/user/user_sidebar :: userSidebar }" class="sidebar"></aside>
        <main class="bodyContainer">
            <div th:replace="~{frag/user/user_menubar :: userMenubar }" class="menubar"></div>
            <div class="contents">
                <div class="moodSelect">
                    <div class="happy">
                        <span>🤗</span>
                        <p>기쁨</p>
                    </div>
                    <div class="flutter">
                        <span>😊</span>
                        <p>사랑</p>
                    </div>
                    <div class="sad">
                        <span>😥</span>
                        <p>슬픔</p>
                    </div>
                    <div class="depressed">
                        <span>😔</span>
                        <p>우울</p>
                    </div>
                    <div class="hard">
                        <span>😩</span>
                        <p>힘듦</p>
                    </div>
                    <div class="angry">
                        <span>🤬</span>
                        <p>분노</p>
                    </div>
                </div>
                <div class="mood_diary">
                    <div class="titleContainer">
                        <span>기분 별 감정</span>
                    </div>
                    <div class="diaryContainer" th:classappend="${#lists.size(selectDiaryByMood)} == 0 ? 'emptyData'">
                        <th:block th:if="${#lists.size(selectDiaryByMood)} == 0">
                            <div class="diaryText">
                                등록된 일기가 없습니다.
                            </div>
                        </th:block>
                        <th:block th:unless="${#lists.size(selectDiaryByMood)} == 0">
                            <th:block th:each="selectDiary : ${selectDiaryByMood}">
                                <input type="text" class="diarySeq" th:value="${selectDiary.EMOTION_SEQ}" style="display:none">
                                <div class="diaryBox">
                                    <div class="diary">
                                        <div class="diaryContents">[[${selectDiary.CONTENTS}]]</div>
                                        <div class="diaryContentsFooter">
                                            <div class="diaryEmoji">[[${selectDiary.EMOJI}]]</div>
                                            <div class="diaryDate" th:text="${#dates.format(selectDiary.DIARY_DATE, 'yyyy-MM-dd')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="/js/diaryAll.js" type="text/javascript"></script>

</body>

</html>