<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_diary</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link href="/css/writeDiary.css" rel="stylesheet">
    <link href="/css/scrollModules.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap/bootstrap_v3.3.0.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

        <aside th:replace="frag/user/user_sidebar :: userSidebar(currMenu='myDiary')" class="sidebar"></aside>
        <main class="bodyContainer">
            <div th:replace="~{frag/user/user_menubar :: userMenubar(${notifiSelectList}) }" class="menubar"></div>
            <div class="contents">
                <!-- ====================contents 영역======================= -->
                <article class="writeArea">
                    <div class="writeOutline">
                        <form action="/updateDiary" name="write3Form" enctype="multipart/form-data" method="post" >
                            <div class="writeBg"></div>

                            <div class="currDate">
                                <span>[[${diaryMap.DIARY_DATE}]]</span>
                            </div>
                            
                            <div class="selectImg" onclick="selectImg()">
                                <span class="beforeFont">사진 변경</span>
                            </div>
                            <span class="proDel" style="margin-left:20px;">사진 삭제</span>
                            <input type="file" name="file" class="inputFile" accept="image/jpg,image/jpeg,image/png " onchange="fileCheck(this)" th:value="${diaryMap['BGIMG_PATH']}">
                            <input type="hidden" id="deleteImg" name="deleteImg" value="">

                            <div class="innerOutline">
                                <div class="innerBg">
                                    <div class="innerImg" th:style="|background-image:url(${diaryMap['BGIMG_PATH']})|"></div>
                                </div>

                                <div class="titles">
                                    <span class="title">배경 선택</span>
                                    <span class="subtitle">오늘 당신이 느낀 감정을 배경으로 표현하세요.(배경 미선택 시 기본 배경)</span>
                                </div>
                                <div class="selectedEmoji animation2">
                                    <span>[[${emoji}]]</span>
                                </div>
                                <div class="diaryNote">
                                    <textarea cols="100" rows="6"  onfocus="resize(this)" onblur="resize(this)" autofocus="autofocus" spellcheck="false" readonly>[[${session.writeContents}]]</textarea>
                                </div>
                                <div class="privateSwitch material-switch">
                                    비공개<br><br>
                                    <input id="someSwitchOptionDefault" name="diary_private" type="checkbox" value="y" th:checked="${writePrivate.equals('y')}"/>
                                    <label for="someSwitchOptionDefault" class="label-default"></label>
                                </div>

                            </div>
                            <div class="buttons">
                                <a class="before" href="javascript:window.history.go(-1);">
                                    <div>
                                        <span class="beforeFont">이전</span>
                                    </div>
                                </a>
                                
                                <div class="next" onClick="document.forms['write3Form'].submit()">
                                    <span class="nextFont">저장</span>
                                </div>
                            </div>
                        </form>
                    </div>

                </article>
            </div>
            <!-- ==================== / contents 영역======================= -->
            <script>

                const inputFile = document.querySelector(".inputFile")

                // 이미지 검증
                function fileCheck(input){
                    let imgFile = inputFile.value.toLowerCase();
                    let fileForm = /(.*?)\.(jpg|jpeg|png|bmp)$/;
                    let maxSize = 5 * 1024 * 1024;
                    let fileSize;

                    if(imgFile != "" && imgFile != null) {
                        fileSize = inputFile.files[0].size;
                        
                        if(!imgFile.match(fileForm)) {
                            alert("이미지 파일만 업로드 가능합니다");
                            return;
                        } else if(fileSize >= maxSize) {
                            alert("파일 사이즈는 5MB까지 가능");
                            return;
                        }
                    }
                    readImg(input)
                }
                // 이미지 preview
                let innerImg = document.querySelector(".innerImg");

                function readImg(input){
                    if(input.files && input.files[0]){
                        const reader = new FileReader()

                        reader.onload = (e)=>{
                            innerImg.style.backgroundImage = `url(${e.target.result})`;
                            // innerImg.src = e.target.result;
                        }   
                        reader.readAsDataURL(input.files[0]);
                        $("#deleteImg").val("");
                
                    }else{
                        innerImg.style.backgroundImage = "";
                        inputFile.value = "";
                        // innerImg.src="";
                    }
                    
                    // let selectedFile = document.querySelector(".inputFile").value;
                    // let innerBgImg = document.querySelector(".innerImg");
                    
                    // innerBgImg.src = selectedFile;
                }

                // 사진선택 버튼 클릭시 숨겨진 input이 클릭되도록
                function selectImg() {
                    inputFile.click();
                }

                // 사진삭제버튼
                $('.proDel').on("click", function() {
                    $('.innerImg').css('background-image','url()');
                    $("#deleteImg").val("Y");
                });

                // textarea 크기 자동화
                function resize(obj) {
                  obj.style.height = "1px";
                  obj.style.height = (12+obj.scrollHeight)+"px";
                }

                
            </script>
        </main>
    </div>
</body>

</html>