<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_diary</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link href="/css/viewDiary.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        //iframe 자동 height 조절
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        }
    </script>
</head>

<body>
    <div class="container">

        <aside th:replace="frag/user/user_sidebar :: userSidebar(currMenu='') " class="sidebar"></aside>
        <main class="bodyContainer">
            <div th:replace="~{frag/user/user_menubar :: userMenubar }" class="menubar"></div>
            <div class="contents">
                <!-- ====================contents 영역======================= -->
                <article class="viewArea">
                    <div class="writeDate">
                        <span>[[${diaryDto['DIARY_DATE']}]]</span>
                        <div class="selectedEmoji">[[${diaryDto['EMOJI']}]]</div>
                    </div>
                    <div class="viewOutline">
                        <div class="viewBg"></div>
                        <form>

                            <div class="innerOutline">
                                <span class="writerNick">[[${diaryDto.MEMBER_NICK}]]</span>
                                <div class="diaryMenu" type="diary" th:id="${diaryDto.DIARY_SEQ}">
                                    <input hidden class="diaryWriter hiddenValue" th:value="${diaryDto.MEMBER_EMAIL}" />
                                    <input hidden class="loginUser hiddenValue" th:value="${session.loginUser}" />
                                    ···
                                </div>
                                <!-- 모달 창 (다이어리 메뉴버튼)-->
                                <!-- <div class="diaryModal modal hidden">
                                    <div class="modalBg"></div>
                                    <div class="modalBox">
                                        <div class="modalClose" style="cursor: pointer;">X</div>

                                    </div>
                                </div> -->
                                <th:div class="like" >
                                    <th:block  >
                                        <th:div th:class="|likeButton ${likeMap.likeMemberList.contains(session.loginUser)?'likeit':''}|"
                                                th:text="${likeMap.likeMemberList.contains(session.loginUser)?'♥':'♡'}"></th:div>
                                        <th:span class="likeCnt">[[${(likeMap.likeCnt!=0)?likeMap.likeCnt:""}]]</th:span>
                                    </th:block>
                                </th:div>


                                <div class="innerBg">
                                    <th:block th:unless="${diaryDto['BGIMG_SEQ']}">
                                        <div class="innerImg"></div>
                                    </th:block>
                                    <th:block th:if="${diaryDto['BGIMG_SEQ']}">
                                        <div class="innerImg" th:style="|background-image:url(${diaryDto.BGIMG_PATH});|">
                                        </div>
                                    </th:block>
                                </div>

                                <div class="diaryNote">
                                    <textarea cols="100" rows="auto" onfocus="resize(this)" onblur="resize(this)"
                                        autofocus="autofocus" spellcheck="false"
                                        readonly="readonly">[[${diaryDto.CONTENTS}]]</textarea>
                                </div>
                            </div>
                            <!-- 댓글 작성 영역 -->
                            <div class="replyBox">
                                <div class="replyWrite">
                                    <input type="text" class="replyInput" maxlength="30" placeholder="댓글을 입력하세요."
                                        spellcheck="false" />
                                </div>
                                <div class="replyUpload" th:id="${diaryDto.DIARY_SEQ}" th:data-loginUser="${session.loginUser}"  
                                    th:onclick="replyLoginValid('loginUser')">
                                    입력
                                </div>
                            </div>

                            <!-- 댓글 슬라이드 -->
                            <div class="mod2_slider slider">
                                <div class="mod2_innerSlide">
                                    <!-- 최대 10개 의 mod2_innerContents
                                        10 * ( width:230px + margin-right:20px ) -->
                                    <div class="mod2_innerContents" th:each="reply : ${replyList}">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" type="reply" th:id="${reply.REPLY_SEQ}">···</div>
                                                <span class="mod2_d_nick">[[${reply.MEMBER_NICK}]]</span>
                                                <span class="mod2_d_date">[[${reply.REPLY_DATE}]]</span>
                                                <span class="mod2_d_diary">[[${reply.REPLY}]]</span>
                                                <input hidden class="replyContent hiddenValue"
                                                    th:value="${reply.REPLY}" />
                                                <input hidden class="replyWriter hiddenValue"
                                                    th:value="${reply.MEMBER_EMAIL}" />
                                            </div>
                                        </div>
                                    </div>


                                </div><!-- /innerSlide -->
                            </div>

                            <!-- 모달 창 (다이어리&댓글 메뉴버튼)-->
                            <div class="modal hidden">
                                <div class="modalBg"></div>
                                <div class="modalBox">
                                    <div class="modalClose" style="cursor: pointer;">X</div>
                                    <iframe class="modalBody" scrolling="no" onload="resizeIframe(this)">
                                        <!-- <th:block th:replace="/frag/user/modal/view_otherContents :: otherContentsModal">

                                        </th:block> -->
                                    </iframe>
                                </div>
                            </div>
                        </form>
                    </div>

                </article>
            </div>
            <!-- ==================== / contents 영역======================= -->
            <script>
                function resize(obj) {
                    obj.style.height = "1px";
                    obj.style.height = (12 + obj.scrollHeight) + "px";
                }

                //로그인 검사
                function replyLoginValid(obj) {
                    if (obj) {
                        replyAdd();
                    } else {
                        alert('로그인 후 댓글 작성이 가능합니다.');
                        location.href = "/";
                    }
                }

                // 댓글 저장
                function replyAdd() {
                    const writeInput = document.querySelector(".replyInput")
                    const replyButton = document.querySelector(".replyUpload")
                    const diarySeq = replyButton.getAttribute("id")
                    const reply = writeInput.value.trim();
                    if (reply == "" || reply.length == 0) {
                        alert("댓글을 입력하세요.")
                        writeInput.value = ""
                        writeInput.focus()
                    } else {

                        // ajax
                        $.ajax({
                            url: '/replyInsert',
                            type: 'post',
                            data: { 
                                "reply" : reply.trim(),
                                "diarySeq" : diarySeq
                            },
                        })
                        
                        // 서버에서 가져온 data 뿌릴 곳 결정
                        .done(function (replyList) {
                            $('.mod2_innerSlide').replaceWith(replyList);
                        });

                        writeInput.value = ""   // 입력창 비움
                    }

                }

                /* 좌우 스크롤 슬라이더 */
                const slider = document.querySelector('.mod2_slider');
                let isMouseDown = false;
                let startX, scrollLeft;

                slider.addEventListener('mousedown', (e) => {
                    isMouseDown = true;
                    slider.classList.add('active');

                    startX = e.pageX - slider.offsetLeft;
                    scrollLeft = slider.scrollLeft;
                });

                slider.addEventListener('mouseleave', () => {
                    $(document).mouseup(function(e){
                        isMouseDown = false;
                        slider.classList.remove('active');
                    })

                });

                slider.addEventListener('mouseup', () => {
                    isMouseDown = false;
                    slider.classList.remove('active');
                });

                document.addEventListener('mousemove', (e) => {
                    if (!isMouseDown) return;

                    e.preventDefault();
                    const x = e.pageX - slider.offsetLeft;
                    const walk = (x - startX) * 1;
                    slider.scrollLeft = scrollLeft - walk;
                });
            </script>

            <!-- 모달창 script -->
            <script>
                const loginUser = document.querySelector('.loginUser').value;
                let writer, id, type, replyContent;

                function open(url) {
                    document.querySelector(".modal").classList.remove("hidden");
                    document.querySelector(".modalBody").src = `${url}?writer=${writer}&type=${type}&loginUser=${loginUser}&replyContent=${replyContent}&id=${id}`;
                }

                const close = () => {
                    document.querySelector(".modal").classList.add("hidden");
                }


                document.querySelector(".diaryMenu").addEventListener("click", (e) => {
                    id = e.target.id
                    type = e.target.getAttribute("type");
                    writer = document.querySelector(".diaryWriter").value;

                    if (loginUser == null) {
                        alert("로그인 후 이용할 수 있습니다.");
                        return;
                    } else if (loginUser == writer) {
                        open("/modal/view_myContents.html")
                    } else {
                        open("/modal/view_otherContents.html")
                    }
                });

                const replyMenu_click = document.querySelectorAll(".replyMenu");
                
                $(document).on('click','.replyMenu',function(e){
                    let i = $('.replyMenu').index(this);
                    id = e.target.id
                    type = e.target.getAttribute("type");
                    writer = document.querySelectorAll(".replyWriter")[i].value;
                    replyContent = document.querySelectorAll(".replyContent")[i].value;

                    if (loginUser == null) {
                        alert("로그인 후 이용할 수 있습니다.");
                        return;
                    } else if (loginUser == writer) {

                        open("/modal/view_myContents.html")
                    } else {
                        open("/modal/view_otherContents.html")
                    }
                })
                

                document.querySelector(".modalClose").addEventListener("click", close);
                document.querySelector(".modalBg").addEventListener("click", close);
            </script>

            <script>
                const like = document.querySelector(".likeButton")
                $(document).on("click",".likeButton",function(e) {
                    const diarySeq = document.querySelector(".diaryMenu").getAttribute("id");   // 게시물 번호
                    if (like.classList.contains("likeit")) {

                        // ajax
                        $.ajax({
                            url: '/likeInsert',
                            type: 'post',
                            data: {
                                "diarySeq" : diarySeq,
                                "do" : "delete"
                            },
                        })

                        // 서버에서 가져온 data를 뿌릴 곳 결정
                        .done(function (likeMap) {
                            $('.like').replaceWith(likeMap);
                        });
                        like.classList.remove("likeit");
                    } else {
                        // ajax
                        $.ajax({
                            url: '/likeInsert',
                            type: 'post',
                            data: {
                                "diarySeq" : diarySeq,
                                "do" : "insert"
                            },
                        })

                        // 서버에서 가져온 data를 뿌릴 곳 결정
                        .done(function (likeMap) {
                            $('.like').replaceWith(likeMap);
                        });
                        like.classList.add("likeit");
                    }
                });
            </script>

        </main>
    </div>
</body>

</html>