<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_diary</title>
    <link rel="stylesheet" type="text/css" href="../css/test.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link href="../css/viewDiary.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
    <script>
        // iframe 자동 height 조절
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        }
    </script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar").load("/user_sidebar.html");
            $(".menubar").load("/user_menubar.html");
        });
    </script>
    
</head>

<body>
    <div class="container">

        <aside class="sidebar"></aside>
        <main class="bodyContainer">
            <div class="menubar"></div>
            <div class="contents">
                <!-- ====================contents 영역======================= -->
                <article class="viewArea">
                    <div class="writeDate">
                        <span>22. 10. 16. Sun</span>
                        <div class="selectedEmoji">🤗</div>
                    </div>
                    <div class="viewOutline">
                        <div class="viewBg"></div>
                        <form>

                            <div class="innerOutline" >
                                <div class="diaryMenu" id="101">
                                    ···
                                </div>
                                <!-- 모달 창 (다이어리 메뉴버튼)-->
                                <!-- <div class="diaryModal modal hidden">
                                    <div class="modalBg"></div>
                                    <div class="modalBox">
                                        <div class="modalClose" style="cursor: pointer;">X</div>

                                    </div>
                                </div> -->


                                <div class="likeButton">
                                    ♡
                                </div>

                                <div class="innerBg">
                                    <div class="innerImg"></div>
                                </div>

                                <div class="diaryNote">
                                    <textarea cols="100" rows="auto" onfocus="resize(this)" onblur="resize(this)"
                                        autofocus="autofocus" spellcheck="false"
                                        readonly="readonly">여기는 작성된 글 영역 이러한 저러한 일이 있었는데 기분이 너무 좋구만~~!!(수정 불가)ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</textarea>
                                </div>
                            </div>
                            <!-- 댓글 작성 영역 -->
                            <div class="replyBox">
                                <div class="replyWrite">
                                    <input type="text" class="replyInput" maxlength="30" placeholder="댓글을 입력하세요."
                                        spellcheck="false" />
                                </div>
                                <div class="replyUpload" onclick="replyAdd()">
                                    입력
                                </div>
                            </div>

                            <!-- 댓글 슬라이드 -->
                            <div class="mod2_slider slider">
                                <div class="mod2_innerSlide">
                                    <!-- 최대 10개 의 mod2_innerContents
                                        10 * ( width:230px + margin-right:20px ) -->
                                    <div class="mod2_innerContents" >
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="101">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 재밌었다!
                                                    😊</span>
                                                <span class="mod2_d_imoji">🥰</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 여기 이하는 반복임(더미) -->
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="102">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 슬펐다ㅠ</span>
                                                <span class="mod2_d_imoji">😥</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="103">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 힘들었다!</span>
                                                <span class="mod2_d_imoji">😩</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="104">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 화났다!</span>
                                                <span class="mod2_d_imoji">🤬</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="105">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 사랑스러웠다!
                                                    😊</span>
                                                <span class="mod2_d_imoji">😻</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="106">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 재밌었다!
                                                    😊</span>
                                                <span class="mod2_d_imoji">🥰</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="107">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 슬펐다ㅠ</span>
                                                <span class="mod2_d_imoji">😥</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="108">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 힘들었다!</span>
                                                <span class="mod2_d_imoji">😩</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="109">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 화났다!</span>
                                                <span class="mod2_d_imoji">🤬</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod2_innerContents">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <div class="replyMenu" id="110">···</div>
                                                <span class="mod2_d_nick">김길동</span>
                                                <span class="mod2_d_date">22. 10. 16. Sun</span>
                                                <span class="mod2_d_diary">가나다라마바사 아자차카 타파하 하는 일이 있었다. 너무 사랑스러웠다!
                                                    😊</span>
                                                <span class="mod2_d_imoji">😻</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /더미데이터 종료 -->
                                </div><!-- /innerSlide -->
                            </div>
                            <!-- 모달 창 (다이어리&댓글 메뉴버튼)-->
                            <div class="modal hidden">
                                <div class="modalBg"></div>
                                <div class="modalBox">
                                    <div class="modalClose" style="cursor: pointer;">X</div>
                                    <iframe class="modalBody" scrolling="no" onload="resizeIframe(this)">

                                    </iframe>
                                </div>
                            </div>
                        </form>
                    </div>

                </article>
            </div>
            <!-- ==================== / contents 영역======================= -->
            <script>
                function resize(obj) {
                    obj.style.height = "1px";
                    obj.style.height = (12 + obj.scrollHeight) + "px";
                }

                // 
                function replyAdd() {
                    const writeInput = document.querySelector(".replyInput")
                    const replyButton = document.querySelector(".replyInput")
                    const reply = replyButton.value.trim();
                    if(reply == "" ||reply.length==0){
                        alert("댓글을 입력하세요.")
                        writeInput.value=""
                        writeInput.focus()
                    }else{
                        alert(reply);
                    }
                    // 이하 ajax 구현
                }

                /* 좌우 스크롤 슬라이더 */
                const slider = document.querySelector('.mod2_slider');
                let isMouseDown = false;
                let startX, scrollLeft;

                slider.addEventListener('mousedown', (e) => {
                    isMouseDown = true;
                    slider.classList.add('active');

                    startX = e.pageX - slider.offsetLeft;
                    scrollLeft = slider.scrollLeft;
                });

                slider.addEventListener('mouseleave', () => {
                    isMouseDown = false;
                    slider.classList.remove('active');
                });

                slider.addEventListener('mouseup', () => {
                    isMouseDown = false;
                    slider.classList.remove('active');
                });

                slider.addEventListener('mousemove', (e) => {
                    if (!isMouseDown) return;

                    e.preventDefault();
                    const x = e.pageX - slider.offsetLeft;
                    const walk = (x - startX) * 1;
                    slider.scrollLeft = scrollLeft - walk;
                });
            </script>

            <!-- 모달창 script -->
            <script>
                function open(url){
                    document.querySelector(".modal").classList.remove("hidden");
                    document.querySelector(".modalBody").src=url;
                }

                const close = () => {
                    document.querySelector(".modal").classList.add("hidden");
                }

                // ajax로 contents=diary/reply값, 컨텐츠id값 받고 open(url)해야 함 
                document.querySelector(".diaryMenu").addEventListener("click", (e)=>{
                    const diaryId = e.target.id
                    alert("선택된 일기 Id : " + diaryId)
                    /* ajax
                     * 본인/타인 컨텐츠 비교 후 해당 모달html 결정
                    */

                    open("./modal/view_otherContents.html")
                    //open("./modal/view_myContents.html")
                });

                const replyMenu_click = document.querySelectorAll(".replyMenu");
                for(let i = 0; i < replyMenu_click.length; i++){
                    replyMenu_click[i].addEventListener("click", (e) => {
                        const replyId = e.target.id
                        alert("선택된 댓글 Id : " + replyId)
                        /* ajax
                        
                        */
                        open("./modal/view_otherContents.html")
                        //open("./modal/view_myContents.html");
                    })
                }

                document.querySelector(".modalClose").addEventListener("click", close);
                document.querySelector(".modalBg").addEventListener("click", close);
            </script>

            <script>
                const like = document.querySelector(".likeButton")
                like.addEventListener("click",(e)=>{
 
                    if(like.innerHTML == "♥") {
                        /* 
                            ajax
                        
                        */
                        like.innerHTML="♡";
                    } else{
                        /* 
                            ajax
                        
                        */
                        like.innerHTML="♥"
                    }
                    like.classList.toggle("likeit");
                });
            </script>
            
        </main>
    </div>
</body>

</html>