<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ogam_user_dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link href="/css/user_main.css" rel="stylesheet">
    <link href="/css/scrollModules.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

        <aside th:replace="~{frag/user/user_sidebar :: userSidebar }" class="sidebar"></aside>
        <main class="bodyContainer">
            <div th:replace="~{frag/user/user_menubar :: userMenubar }" class="menubar"></div>
            <div class="contents">
                <!-- ====================contents 영역======================= -->
                <article>

                    <!-- 모두의 감정 -->
                    <div class="mod2_Outline_shdw">
                        <div class="mod2_Outline">
                            <div class="mod2_Outline2">
                                <div class="mod2_grey"></div>
                                <div class="mod2_titleBg">
                                    <a href="#">
                                    <span class="mod2_titleFont">모두의 감정</span>
                                    </a>
                                </div>
                            </div>
                            <div class="mod2_slider slider">
                                <div class="mod2_innerSlide">
                                    <!-- 최대 10개 의 mod2_innerContents
                                        10 * ( width:230px + margin-right:20px ) -->

                                    <div class="mod2_innerContents" th:onclick="|location.href='/viewDiary?${randDiary.DIARY_SEQ}'|")
                                                                    th:each="randDiary : ${randomAllDiaryList}">
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <span class="mod2_d_nick">[[${randDiary.MEMBER_NICK}]]</span>
                                                <span class="mod2_d_date">[[${randDiary.DIARY_DATE}]]</span>
                                                <span class="mod2_d_diary">[[${randDiary.CONTENTS}]]</span>
                                                <span class="mod2_d_imoji">[[${randDiary.EMOJI}]]</span>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- /innerSlide -->
                            </div>
                        </div>
                    </div><!-- /moduOutline -->

                    <!-- 최근 내 감정 -->
                    <div class="my_currDiarys">
                        <div class="mod1_Outline_shdw">
                            <div class="mod1_Outline">
                                <div class="mod1_Outline2">
                                    <div class="mod1_grey"></div>
                                    <div class="mod1_titleBg">
                                        <a href="/myDiary">
                                            <span class="mod1_titleFont">최근 내 감정</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="mod1_slider_me slider">
                                    <div class="mod1_innerSlide">
                                        <!-- 최대 10개 의 mod1_innerContents
                                            10 * ( width:230px + margin-right:20px ) -->
                                        <a th:href="|/viewDiary?${myDiary.DIARY_SEQ}|" th:each="myDiary : ${myDiaryList}">
                                            <div class="mod1_innerContents">
                                                <div class="mod1_d_bg">
                                                    <div class="mod1_d_set">
                                                        <span class="mod1_d_nick">[[${myDiary.MEMBER_NICK}]]</span>
                                                        <span class="mod1_d_date">[[${myDiary.DIARY_DATE}]]</span>
                                                        <span class="mod1_d_diary">[[${myDiary.CONTENTS}]]</span>
                                                        <span class="mod1_d_imoji">[[${myDiary.EMOJI}]]</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                    </div><!-- /innerSlide -->

                                </div>
                            </div>
                        </div> <!-- /module1 -->
                    </div><!-- /최근 내 감정 -->

                    <!-- 친구의 감정 -->
                    <div class="frnd_currDiary">
                        <div class="mod1_Outline_shdw">
                            <div class="mod1_Outline">
                                <div class="mod1_Outline2">
                                    <div class="mod1_grey"></div>
                                    <div class="mod1_titleBg">
                                        <span class="mod1_titleFont">친구의 감정</span>
                                    </div>
                                </div>
                                <div class="mod1_slider_frnd slider">
                                    <div class="mod1_innerSlide">
                                        <!-- 최대 10개 의 mod1_innerContents
                                            10 * ( width:230px + margin-right:20px ) -->
                                        <a th:href="|/viewDiary?${friendDiary.DIARY_SEQ}|" th:each="friendDiary : ${friendDiaryList}">
                                            <div class="mod1_innerContents">
                                                <div class="mod1_d_bg">
                                                    <div class="mod1_d_set">
                                                        <span class="mod1_d_nick">[[${friendDiary.MEMBER_NICK}]]</span>
                                                        <span class="mod1_d_date">[[${friendDiary.DIARY_DATE}]]</span>
                                                        <span class="mod1_d_diary">[[${friendDiary.CONTENTS}]]</span>
                                                        <span class="mod1_d_imoji">[[${friendDiary.EMOJI}]]</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        
                                    </div><!-- /innerSlide -->

                                </div>
                            </div>

                        </div> <!-- /module1 -->
                    </div><!-- 친구의 감정 -->

                    <!-- 감정 스크롤-->
                    <script>
                        /* 좌우 스크롤 슬라이더 */
                        const slider = document.querySelector('.mod2_slider');
                        let isMouseDown = false;
                        let startX, scrollLeft;
    
                        slider.addEventListener('mousedown', (e) => {
                            isMouseDown = true;
                            slider.classList.add('active');
    
                            startX = e.pageX - slider.offsetLeft;
                            scrollLeft = slider.scrollLeft;
                        });
    
                        slider.addEventListener('mouseleave', () => {
                            isMouseDown = false;
                            slider.classList.remove('active');
                        });
    
                        slider.addEventListener('mouseup', () => {
                            isMouseDown = false;
                            slider.classList.remove('active');
                        });
    
                        slider.addEventListener('mousemove', (e) => {
                            if (!isMouseDown) return;
    
                            e.preventDefault();
                            const x = e.pageX - slider.offsetLeft;
                            const walk = (x - startX) * 1;
                            slider.scrollLeft = scrollLeft - walk;
                        });
                    </script>
                    <!-- 내 감정 스크롤 -->
                    <script>
                        /* 상하 스크롤 슬라이더 */
                        const sliderY = document.querySelector('.mod1_slider_me');
                        let isMouseDownY = false;
                        let startY, scrollTop;
    
                        sliderY.addEventListener('mousedown', (e) => {
                            isMouseDownY = true;
                            sliderY.classList.add('active');
    
                            startY = e.pageY - sliderY.offsetLeft;
                            scrollTop = sliderY.scrollTop;
                        });
    
                        sliderY.addEventListener('mouseleave', () => {
                            isMouseDownY = false;
                            sliderY.classList.remove('active');
                        });
    
                        sliderY.addEventListener('mouseup', () => {
                            isMouseDownY = false;
                            sliderY.classList.remove('active');
                        });
    
                        sliderY.addEventListener('mousemove', (e) => {
                            if (!isMouseDownY) return;
    
                            e.preventDefault();
                            const y = e.pageY - sliderY.offsetLeft;
                            const walk = (y - startY) * 1;
                            sliderY.scrollTop = scrollTop - walk;
                        });
                    </script>
                    <!-- 친구 감정 스크롤 -->
                    <script>
                        /* 상하 스크롤 슬라이더 */
                        const sliderY2 = document.querySelector('.mod1_slider_frnd');
                        let isMouseDownY2 = false;
                        let startY2, scrollTop2;
    
                        sliderY2.addEventListener('mousedown', (e) => {
                            isMouseDownY2 = true;
                            sliderY2.classList.add('active');
    
                            startY2 = e.pageY - sliderY2.offsetLeft;
                            scrollTop2 = sliderY2.scrollTop;
                        });
    
                        sliderY2.addEventListener('mouseleave', () => {
                            isMouseDownY2 = false;
                            sliderY2.classList.remove('active');
                        });
    
                        sliderY2.addEventListener('mouseup', () => {
                            isMouseDownY2 = false;
                            sliderY2.classList.remove('active');
                        });
    
                        sliderY2.addEventListener('mousemove', (e) => {
                            if (!isMouseDownY2) return;
    
                            e.preventDefault();
                            const y = e.pageY - sliderY2.offsetLeft;
                            const walk = (y - startY2) * 1;
                            sliderY2.scrollTop = scrollTop2 - walk;
                        });
                    </script>

                </article>
            </div>
            <!-- ==================== / contents 영역======================= -->
            
        </main>
    </div>
</body>

</html>