<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ogam_user_dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link href="/css/user_main.css" rel="stylesheet">
    <link href="/css/scrollModules.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


</head>
<body>
    <div class="container">

        <aside th:replace="frag/user/user_sidebar :: userSidebar(currMenu='') " class="sidebar"></aside>
        <main class="bodyContainer">
            <div th:replace="~{frag/user/user_menubar :: userMenubar }" class="menubar"></div>
            <div class="contents">
                <!-- ====================contents 영역======================= -->
                <article>

                    <!-- 모두의 감정 -->
                    <div class="mod2_Outline_shdw">
                        <div class="mod2_Outline">
                            <div class="mod2_Outline2">
                                <div class="mod2_grey"></div>
                                <div class="mod2_titleBg">
                                    <a href="#">
                                    <span class="mod2_titleFont">모두의 감정</span>
                                    </a>
                                </div>
                            </div>
                            <div class="mod2_slider slider">
                                <div class="mod2_innerSlide">
                                    <!-- 최대 10개 의 mod2_innerContents
                                        10 * ( width:230px + margin-right:20px ) -->
                                    <!--|location.href='/viewDiary?${randDiary.DIARY_SEQ}'|-->
                                    <a class="mod2_innerContents" th:href="|/viewDiary?diarySeq=${randDiary.DIARY_SEQ}|"
                                                                    th:each="randDiary : ${randomAllDiaryList}" >
                                        <div class="mod2_d_bg">
                                            <div class="mod2_d_set">
                                                <span class="mod2_d_nick">[[${randDiary.MEMBER_NICK}]]</span>
                                                <span class="mod2_d_date">[[${randDiary.DIARY_DATE}]]</span>
                                                <span class="mod2_d_diary">[[${randDiary.CONTENTS}]]</span>
                                                <span class="mod2_d_imoji">[[${randDiary.EMOJI}]]</span>
                                            </div>
                                        </div>
                                    </a>

                                </div><!-- /innerSlide -->
                            </div>
                        </div>
                    </div><!-- /moduOutline -->

                    <!-- 최근 내 감정 -->
                    <div class="my_currDiarys">
                        <div class="mod1_Outline_shdw">
                            <div class="mod1_Outline">
                                <div class="mod1_Outline2">
                                    <div class="mod1_grey"></div>
                                    <div class="mod1_titleBg">
                                        <a href="/myDiary">
                                            <span class="mod1_titleFont">최근 내 감정</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="mod1_slider_me slider">
                                    <div class="mod1_innerSlide">
                                        <!-- 최대 10개 의 mod1_innerContents
                                            10 * ( width:230px + margin-right:20px ) -->
                                        <th:a class="mod1_innerContents noData" th:unless="${session.loginUser}" href="/loginPage"> 로그인 후 일기를 확인하세요🤗 </th:a>
                                        <th:a class="mod1_innerContents noData" th:if="${session.loginUser} and ${#lists.isEmpty(myDiaryList)}" href="/writeDiary1"> 당신의 첫번째 감정을 기록하세요!🥳 </th:a>
                                        <a class="mod1_innerContents" th:if="${['myDiaryList']}" th:href="|/viewDiary?diarySeq=${myDiary['DIARY_SEQ']}|" th:each="myDiary : ${['myDiaryList']}">
                                            <div class="mod1_d_bg">
                                                <div class="mod1_d_set">
                                                    <span class="mod1_d_nick">[[${myDiary['MEMBER_NICK']}]]</span>
                                                    <span class="mod1_d_date">[[${myDiary['DIARY_DATE']}]]</span>
                                                    <span class="mod1_d_diary">[[${myDiary['CONTENTS']}]]</span>
                                                    <span class="mod1_d_imoji">[[${myDiary['EMOJI']}]]</span>
                                                </div>
                                            </div>
                                        </a>

                                    </div><!-- /innerSlide -->

                                </div>
                            </div>
                        </div> <!-- /module1 -->
                    </div><!-- /최근 내 감정 -->

                    <!-- 친구의 감정 -->
                    <div class="frnd_currDiary">
                        <div class="mod1_Outline_shdw">
                            <div class="mod1_Outline">
                                <div class="mod1_Outline2">
                                    <div class="mod1_grey"></div>
                                    <div class="mod1_titleBg">
                                        <span class="mod1_titleFont">친구의 감정</span>
                                    </div>
                                </div>
                                <div class="mod1_slider_frnd slider">
                                    <div class="mod1_innerSlide">
                                        <!-- 최대 10개 의 mod1_innerContents
                                            10 * ( width:230px + margin-right:20px ) -->
                                        <th:a class="mod1_innerContents noData" th:unless="${session.loginUser}" href="/loginPage"> 로그인 후 이용이 가능합니다😥 </th:a>
                                        <th:a class="mod1_innerContents noData" th:if="${session.loginUser} and ${#lists.isEmpty(friendDiaryList)}" href="/friendList"> 친구가 작성한 일기가 없어요😥 </th:a>
                                        <a class="mod1_innerContents" th:if="${['friendDiaryList']}" th:href="|/viewDiary?diarySeq=${friendDiary['DIARY_SEQ']}|" th:each="friendDiary : ${['friendDiaryList']}">
                                            <div class="mod1_d_bg">
                                                <div class="mod1_d_set">
                                                    <span class="mod1_d_nick">[[${friendDiary['MEMBER_NICK']}]]</span>
                                                    <span class="mod1_d_date">[[${friendDiary['DIARY_DATE']}]]</span>
                                                    <span class="mod1_d_diary">[[${friendDiary['CONTENTS']}]]</span>
                                                    <span class="mod1_d_imoji">[[${friendDiary['EMOJI']}]]</span>
                                                </div>
                                            </div>
                                        </a>


                                    </div><!-- /innerSlide -->

                                </div>
                            </div>

                        </div> <!-- /module1 -->
                    </div><!-- 친구의 감정 -->

                    <!-- 감정 스크롤-->
                    <script>
                        /* 좌우 스크롤 슬라이더 */
                        const slider = document.querySelector('.mod2_slider');
                        let isMouseDown = false;
                        let startX, scrollLeft, walk;
                        
                        slider.addEventListener('mousedown', (e) => {
                            isMouseDown = true;
                            slider.classList.add('active');

                            startX = e.pageX - slider.offsetLeft;
                            scrollLeft = slider.scrollLeft;
                            walk=0; // 마우스down시 walk 0으로 초기화
                        });

                        slider.addEventListener('mouseleave', () => {
                            document.addEventListener('mouseup',()=>{
                                isMouseDown = false;
                                slider.classList.remove('active');
                            })
                        });

                        slider.addEventListener('mouseup', (e) => {
                            
                            isMouseDown = false;
                            slider.classList.remove('active');
                        });

                        document.addEventListener('mousemove', (e) => {
                            if (!isMouseDown) return;
                        
                            e.preventDefault();
                            const x = e.pageX - slider.offsetLeft;
                            walk = (x - startX) * 1;
                            slider.scrollLeft = scrollLeft - walk;
                        });
                    </script>

                    <!-- 내 감정 스크롤 -->
                    <script>
                        /* 상하 스크롤 슬라이더 */
                        const sliderY = document.querySelector('.mod1_slider_me');
                        let isMouseDownY = false;
                        let startY, scrollTop;
    
                        sliderY.addEventListener('mousedown', (e) => {
                            isMouseDownY = true;
                            sliderY.classList.add('active');
    
                            startY = e.pageY - sliderY.offsetLeft;
                            scrollTop = sliderY.scrollTop;
                            walk=0; // 마우스down시 walk 0으로 초기화
                        });
    
                        sliderY.addEventListener('mouseleave', () => {
                            document.addEventListener('mouseup',()=>{
                                isMouseDownY = false;
                                sliderY.classList.remove('active');
                            })
                        });
    
                        sliderY.addEventListener('mouseup', () => {
                            isMouseDownY = false;
                            sliderY.classList.remove('active');
                        });
    
                        document.addEventListener('mousemove', (e) => {
                            if (!isMouseDownY) return;
    
                            e.preventDefault();
                            const y = e.pageY - sliderY.offsetLeft;
                            walk = (y - startY) * 1;
                            sliderY.scrollTop = scrollTop - walk;
                        });
                    </script>

                    <!-- 친구 감정 스크롤 -->
                    <script>
                        /* 상하 스크롤 슬라이더 */
                        const sliderY2 = document.querySelector('.mod1_slider_frnd');
                        let isMouseDownY2 = false;
                        let startY2, scrollTop2;
    
                        sliderY2.addEventListener('mousedown', (e) => {
                            isMouseDownY2 = true;
                            sliderY2.classList.add('active');
    
                            startY2 = e.pageY - sliderY2.offsetLeft;
                            scrollTop2 = sliderY2.scrollTop;
                            walk=0; // 마우스down시 walk 0으로 초기화
                        });
    
                        sliderY2.addEventListener('mouseleave', () => {
                            document.addEventListener('mouseup',()=>{
                                isMouseDownY2 = false;
                                sliderY2.classList.remove('active');
                            })
                        });
    
                        sliderY2.addEventListener('mouseup', () => {
                            isMouseDownY2 = false;
                            sliderY2.classList.remove('active');
                        });
    
                        document.addEventListener('mousemove', (e) => {
                            if (!isMouseDownY2) return;
    
                            e.preventDefault();
                            const y = e.pageY - sliderY2.offsetLeft;
                            walk = (y - startY2) * 1;
                            sliderY2.scrollTop = scrollTop2 - walk;
                        });
                    </script>

                    <script>
                        const clickHrefX = document.querySelectorAll('.mod2_innerContents')

                        for(let i = 0; i < clickHrefX.length; i++){
                            clickHrefX[i].addEventListener('click',(e)=>{
                                if(Math.abs(walk)>20)  e.preventDefault();
                            });
                        };
                        
                        const clickHrefY = document.querySelectorAll('.mod1_innerContents')
                        
                        // walk가 20이상 움직이지 않으면 a태그 막기
                        for(let i = 0; i < clickHrefY.length; i++){
                            clickHrefY[i].addEventListener('click',(e)=>{
                                if(Math.abs(walk)>20)  e.preventDefault();
                            });
                        };
                    </script>
                </article>
            </div>
            <!-- ==================== / contents 영역======================= -->
            
        </main>
    </div>
</body>

</html>