<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<th:block th:fragment="userMenubar">
    <div class="menubar">
        <div id="left-menu">
            <span id="writeDiary">
                <a href="/writeDiary1">감정 작성하기</a>
            </span>
        </div>
        <div id="rigth-menu">
            <span class="board">
                <a href="#">
                    <span>공지</span>
                </a>
            </span>
            <span class="notifi">
                <a href="#">
                    <i class="fa-regular fa-comment-dots"></i>
                </a>
            </span>
            <span>
                <img src="/img/logoImg.png" id="user_img">
            </span>
            <span class="login">
                <a href="#">
                    <span>로그인</span>
                </a>
            </span>
            <span class="logout">
                <a href="#">
                    <span>로그아웃</span>
                </a>
            </span>
        </div>
    </div>
</th:block>
</html>