<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.go.ogamprj.mapper.DiaryMapper">
    <!-- 내 다이어리 전부 가져오기 -->
    <select id="oneDiarySelectAll" resultType="java.util.HashMap">
        select m.MEMBER_NICK, d.diary_date, e.emoji, d.contents, d.DIARY_SEQ
          from diary d join emotions e
            on e.EMOTION_SEQ = d.EMOTION_SEQ
          join member m
            on d.MEMBER_EMAIL = m.member_email
         where d.MEMBER_EMAIL = #{myEmail}
           and d.diary_del = 'n'
         order by d.diary_seq desc
    </select>

    <!-- 친구 다이어리 전부 가져오기 -->
    <select id="friendDiarySelectAll" resultType="java.util.HashMap">
        select m.MEMBER_NICK, d.diary_date, e.emoji, d.contents, d.DIARY_SEQ
          from diary d join emotions e
            on e.EMOTION_SEQ = d.EMOTION_SEQ
          join member m
            on d.MEMBER_EMAIL = m.member_email
         where d.MEMBER_EMAIL in (select MEMBER_OP_EMAIL
                                   from friend_apply
                                  where MEMBER_EMAIL = #{myEmail})
           and diary_private = 'n'
           and d.diary_del = 'n'
         order by d.diary_seq desc
    </select>

    <!-- 랜덤하게 다이어리 가져오기 (10개) -->
    <select id="randomAllDiarySelectAll" resultType="java.util.HashMap">
        select rownum, m.MEMBER_NICK, d.diary_date, e.emoji, d.contents, d.DIARY_SEQ
        from diary d join emotions e
        on e.EMOTION_SEQ = d.EMOTION_SEQ
        join member m
        on m.member_email = d.MEMBER_EMAIL
        where d.DIARY_SEQ in (select CEIL(DBMS_RANDOM.VALUE(0, (select max(DIARY_SEQ)
                                                                  from diary)))DIARY_SEQ
                                from DUAL CONNECT BY LEVEL 	&lt;= 20000)
          and d.diary_private = 'n'
          and d.diary_del = 'n'
          and rownum 	&lt;= 10
    </select>

    <!-- 다이어리 배경이미지 insert -->
    <insert id="bgimageInsert" parameterType="com.go.ogamprj.dto.Bgimage">
        insert into bgimage(bgimg_path,bgimg_title) values(#{bgimg_path},#{bgimg_title})
    </insert>

    <!-- 다이어리 저장 + 배경이미지 seq추출  -->
    <insert id="diaryInsertWithBgimg" parameterType="com.go.ogamprj.dto.Diary">
        insert into
            diary(MEMBER_EMAIL,EMOTION_SEQ,CONTENTS,DIARY_PRIVATE,BGIMG_SEQ)
            values(#{MEMBER_EMAIL},#{EMOTION_SEQ},#{CONTENTS},#{DIARY_PRIVATE},(select max(bgimg_seq)
                                                                                  from bgimage)
            )
    </insert>

    <insert id="diaryInsertNoBgimg" parameterType="com.go.ogamprj.dto.Diary">
        insert into
        diary(MEMBER_EMAIL,EMOTION_SEQ,CONTENTS,DIARY_PRIVATE)
        values(#{MEMBER_EMAIL},#{EMOTION_SEQ},#{CONTENTS},#{DIARY_PRIVATE} )
    </insert>
    
    <select id="diarySelectOne" resultType="java.util.HashMap">
        select *
          from diary d LEFT JOIN bgimage i
            on d.bgimg_seq = i.bgimg_seq
          JOIN emotions e
            on d.emotion_seq = e.emotion_seq
          JOIN member m
            on d.member_email = m.member_email
         where d.diary_seq = #{diarySeq}
    </select>

    <select id="replySelect" resultType="java.util.HashMap">
        select *
          from reply r join member m
            on r.member_email = m.member_email
         where r.diary_seq = #{diarySeq}
           and reply_del = 'n'
    </select>

    <!-- 배경사진 없이 일기 수정 -->
    <update id="diaryUpdateNoBgimg" parameterType="com.go.ogamprj.dto.Diary">
        update diary
           set emotion_seq = #{EMOTION_SEQ}
             , contents = #{CONTENTS}
             , diary_private=#{DIARY_PRIVATE}
         where diary_seq = #{DIARY_SEQ}
    </update>
    <!-- 배경사진 포함 일기 수정 -->
    <update id="diaryUpdateWithBgimg" parameterType="com.go.ogamprj.dto.Diary">
        update diary
           set emotion_seq = #{EMOTION_SEQ}
             , contents = #{CONTENTS}
             , diary_private=#{DIARY_PRIVATE}
             , BGIMG_SEQ = (select max(bgimg_seq)
                              from bgimage)
         where diary_seq = #{DIARY_SEQ}

    </update>
</mapper>
