<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.go.ogamprj.mapper.MemberMapper">
    <update id="reviseUpdate" parameterType="com.go.ogamprj.dto.Member">
        UPDATE MEMBER
        SET MEMBER_PW = #{MEMBER_PW},
        , MEMBER_NICK = #{MEMBER_NICK}, MEMBER_BIRTH = #{MEMBER_BIRTH}
        , MEMBER_PHONE = #{MEMBER_PHONE}, MEMBER_INTRO = #{MEMBER_INTRO}
        WHERE MEMBER_EMAIL = #{MEMBER_EMAIL}
    </update>
</mapper>