<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.go.ogamprj.mapper.NotifiMapper">

    <!--  친구 추가가 될때 알림에 insert  -->
    <insert id="notifiInsert" parameterType="com.go.ogamprj.dto.Notifi">
        insert into notifi
        values(noti_seq.nextval,#{member_email},null,#{noti_email},#{noti_type},current_date,null,'님에게 친구 신청이 왔습니다')
    </insert>

    <!-- 멤버 정보 가져오기 (사진, 닉네임)  -->
    <select id="notifiSelect" resultType="java.util.Map">
        select * from member m
            join bgimage i
            on i.bgimg_seq = m.bgimg_seq
        where m.member_email in (
                (select m.member_email
                from notifi n
                    join member m
                    on m.member_email = n.member_email
                    left join bgimage i
                    on i.bgimg_seq = m.bgimg_seq
                where n.noti_type = 'friend')

                minus

                (select m.member_email
                from notifi n
                    join member m
                    on m.member_email = n.member_email
                    left join bgimage i
                    on i.bgimg_seq = m.bgimg_seq
                    join block b
                    on b.block_email = m.member_email
                where n.noti_type = 'friend')
        )
    </select>
</mapper>