<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디/비밀번호찾기</title>
    <link rel="stylesheet" type="text/css" href="/css/find.css" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>

</head>
<body>
    <form action="" value="">
        <div class="container">
            <div class="wrapper">
                <div class="checkId">
                    <p>아이디 찾기</p>

                    <div class="birthday">
                        <label>생년월일</label>
                        <input type="text" id="birth1" name="year">
                        <input type="text" id="birth2" name="month">
                        <input type="text" id="birth3" name="day">
                    </div>

                    <div class="phoneNum">
                        <label>휴대폰번호</label>
                        <input type="text" id="phonenum" name="phonenum">
                    </div>

                    <div class="id_submitBtn">
                        <button>아이디 찾기</button>
                    </div>
                </div>

                <div class="checkPw">
                    <p>비밀번호 찾기</p>
                

                <div class="emailBox">
                    <label>이메일</label>
                    <input type="email" id="email">
                </div>

                <div class="phonenumBox">
                    <label for="phonenum2">휴대폰번호</label>
                    <input type="text" id="phonenum2" name="phonenum">

                </div>
                <div class="pw_Reissue">
                    <button>비밀번호 재발급</button>
                </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>