<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호찾기</title>
    <link rel="stylesheet" type="text/css" href="/css/Find_pw.css" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>
<body>
    <form action="/loginPage" value="get">
        <div class="container">
            <div class="wrapper">
                <div class="sendPw">
                    <p>비밀번호 찾기</p>
                </div>
                <div class="text">
                    <p>ooo님의 이메일로 임시 비밀번호가 전송되었습니다.</p>
                </div>
                <div class="loginbtn">
                    <button>로그인</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>