<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디찾기</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Find_id.css" />
</head>
<body>
    <form>
        <div class="container">
            <div class="wrapper">
                <div class="sendId">
                   <p>아이디 찾기</p> 
                </div>
                <div class="text">
                    <p>ooo님의 아이디는 aaa@AAA.com입니다.</p>
                </div>
                <div class="loginbtn">
                    <button>로그인</button>
                </div>
                <div class="goFind_pw">
                    <a href="http://127.0.0.1:5500/Page/Find_pw.html" >비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>