<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="/css/loginpage.css" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="container">
            <div class="mainLogo">
                <img src="/img/logoImg.png" />
            </div>
            <form action="/login" method="get">
            <div class="idBox">
                <label for="id">아이디</label>
                <input type="text" id="id" name="member_email" required
                       pattern="[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}"
                       placeholder="이메일을 입력하세요!">
            </div>

            <div class="passwordBox">
                <label for="password">비밀번호 </label>
                <input type="password" id="password" name="member_pw" required
                       pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,16}"
                       placeholder="비밀번호를 입력하세요!">
            </div>

            <div class="loginBox">
                <button>로그인</button>
            </div>

            <div class="kakaoLoginBox">
                <button>카카오톡 로그인</button>
            </div>


            <div class="findId">
                <a href="/Find">아이디 / 비밀번호찾기</a> <a href="/SignUpForm">회원가입</a>
            </div>
            </form>
        </div>

</body>

</html>