<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="wrap">
        <form action="#" method="post">
            <div class="line">
                <div id="top">
                    <span id="title">회원가입</span>
                </div>
                <div id="middle">
                    <span class="box" >
                        <div class="sTitle">이메일</div> 
                        <input type="text" id="member_email" value="" />
                    </span>
                    <span class="box" >
                        <div class="sTitle">닉네임</div> 
                        <input type="text" id="member_nick" value="" />
                        <input type="submit" class="double_check" value="중복확인"/>
                    </span>
                    <span class="box" >
                        <div class="sTitle">생년월일</div> 
                        <input type="text" id="member_birth1" value="" />
                        <input type="text" id="member_birth2" value="" />
                        <input type="text" id="member_birth3" value="" />
                    </span>
                    <span class="box" >
                        <div class="sTitle">휴대폰번호</div> 
                        <input type="text" id="member_phone" value="" />
                    </span>
                </div>
                <div id="saveBtn">
                    <input type="submit" class="infoSave" value="가입하기"/>
                </div>
            </div>
        </form>
    </div>

</body>
</html>