<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.go.ogamprj.mapper.DashboardMapper">
    <select id="emotionChartMap" resultType="java.util.HashMap">
        SELECT T1.EMOTION, COUNT(T2.CONTENTS)
        FROM EMOTIONS T1, DIARY T2
        WHERE T1.EMOTION_SEQ = T2.EMOTION_SEQ
        AND TO_CHAR(DIARY_DATE, 'YYYYMM') = TO_CHAR(SYSDATE, 'YYYYMM')
        GROUP BY EMOTION
    </select>
</mapper>