<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.go.ogamprj.mapper.AdminNotifyMapper">
    <!-- 신고 기록 전체 가져오기 -->
    <select id="notifySelectAll" resultType="java.util.Map">
        SELECT
               BLACKLIST_DIARY_SEQ AS "BLACKLIST_SEQ"
             , CASE WHEN BLACKLIST_DIARY_SEQ IS NOT NULL THEN '일기' END AS "Category"
             , DIARY_SEQ as BLACK_SEQ
             , BLACKLIST_COMMENT
             , MEMBER_EMAIL
             , BLACKLIST_MEMBER_EMAIL
             , BLACKLIST_DIARY_DATE
          FROM BLACKLIST_DIARY
         UNION ALL
        SELECT
               BLACKLIST_COM_SEQ
             , CASE WHEN BLACKLIST_COM_SEQ IS NOT NULL THEN '댓글' END
             , REPLY_SEQ
             , BLACKLIST_COMMENT
             , MEMBER_EMAIL
             , BLACKLIST_MEMBER_EMAIL
             , BLACKLIST_REPLY_DATE
          FROM BLACKLIST_REPLY
         ORDER BY BLACKLIST_DIARY_DATE DESC
    </select>

    <!-- 키워드 검색 -->
    <select id="notifySelectKeyword" resultType="java.util.Map">
        SELECT *
          FROM
        (
            SELECT
                   BLACKLIST_DIARY_SEQ AS "BLACKLIST_SEQ"
                 , CASE WHEN BLACKLIST_DIARY_SEQ IS NOT NULL THEN '일기' END AS "Category"
                 , BLACKLIST_COMMENT
                 , MEMBER_EMAIL
                 , BLACKLIST_MEMBER_EMAIL
                 , BLACKLIST_DIARY_DATE
              FROM BLACKLIST_DIARY
             UNION ALL
            SELECT
                   BLACKLIST_COM_SEQ
                 , CASE WHEN BLACKLIST_COM_SEQ IS NOT NULL THEN '댓글' END
                 , BLACKLIST_COMMENT
                 , MEMBER_EMAIL
                 , BLACKLIST_MEMBER_EMAIL
                 , BLACKLIST_REPLY_DATE
              FROM BLACKLIST_REPLY
        )
         WHERE MEMBER_EMAIL IS not null
        <if test=" keyword != null and keyword != '' ">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="type != null and type != ''">
                    <choose>
                        <when test="'Category'.equals( type )">
                            AND "Category" LIKE #{keyword}
                        </when>
                        <when test="'BLACKLIST_COMMENT'.equals( type )">
                            AND BLACKLIST_COMMENT LIKE #{keyword}
                        </when>
                        <when test="'MEMBER_EMAIL'.equals( type )">
                            AND MEMBER_EMAIL LIKE #{keyword}
                        </when>
                        <when test="'BLACKLIST_MEMBER_EMAIL'.equals( type )">
                            AND BLACKLIST_MEMBER_EMAIL LIKE #{keyword}
                        </when>
                        <when test="'BLACKLIST_DIARY_DATE'.equals( type )">
                            AND BLACKLIST_DIARY_DATE LIKE #{keyword}
                        </when>
                    </choose>
                </when>
            </choose>
        </if>
        ORDER BY BLACKLIST_DIARY_DATE DESC
    </select>

    <delete id="delBlackDiary">
       DELETE FROM BLACKLIST_DIARY WHERE BLACKLIST_DIARY_SEQ = #{BLACKLIST_DIARY_SEQ}
    </delete>

    <delete id="delBlackRely">
        DELETE FROM BLACKLIST_REPLY WHERE BLACKLIST_COM_SEQ = #{BLACKLIST_COM_SEQ}
    </delete>

</mapper>