<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.go.ogamprj.mapper.AdminDiaryMapper">
    <!-- USER 일기 전체 가져오기 -->
    <select id="userDiarySelectAll" resultType="java.util.Map">
        SELECT
               D.DIARY_SEQ
             , E.EMOTION
             , E.EMOJI
             , M.MEMBER_EMAIL
             , M.MEMBER_NICK
          FROM diary D join emotions E
            ON E.EMOTION_SEQ = D.EMOTION_SEQ
          JOIN member M
            ON D.MEMBER_EMAIL = M.MEMBER_EMAIL
         WHERE D.DIARY_DEL = 'n'
           AND D.DIARY_PRIVATE = 'n'
         ORDER BY d.DIARY_SEQ desc
    </select>

    <!-- 키워드 검색 -->
    <select id="userDiarySelectKeyword" resultType="java.util.Map">
        SELECT
               D.DIARY_SEQ
             , E.EMOTION
             , E.EMOJI
             , M.MEMBER_EMAIL
             , M.MEMBER_NICK
          FROM diary D join emotions E
            ON E.EMOTION_SEQ = D.EMOTION_SEQ
          JOIN member M
            on D.MEMBER_EMAIL = M.MEMBER_EMAIL
         WHERE D.DIARY_DEL = 'n'
           AND D.DIARY_PRIVATE = 'n'
            <if test=" keyword != null and keyword != '' ">
                <choose>
                    <!-- 검색 유형이 있을 때 -->
                    <when test="type != null and type != ''">
                        <choose>
                            <when test="'EMOTION'.equals( type )">
                                AND E.EMOTION LIKE #{keyword}
                            </when>
                            <when test="'MEMBER_EMAIL'.equals( type )">
                                AND M.MEMBER_EMAIL LIKE #{keyword}
                            </when>
                            <when test="'MEMBER_NICK'.equals( type )">
                                AND M.MEMBER_NICK LIKE #{keyword}
                            </when>
                        </choose>
                    </when>
                </choose>
            </if>
        ORDER BY d.DIARY_SEQ DESC
    </select>

    <!-- 일기 삭제 -->
    <update id="diaryDelete" parameterType="com.go.ogamprj.dto.Diary">
        UPDATE DIARY
           SET DIARY_DEL = 'y'
         WHERE DIARY_SEQ = #{DIARY_SEQ}
    </update>

    <!-- 일기 상세 보기 -->
    <select id="diarySelectOne" resultType="java.util.Map">
        SELECT
               D.DIARY_SEQ
             , D.MEMBER_EMAIL
             , M.MEMBER_NICK
             , D.BGIMG_SEQ
             , I.BGIMG_PATH
             , D.CONTENTS
          FROM
               DIARY D LEFT JOIN BGIMAGE I
            ON D.BGIMG_SEQ = I.BGIMG_SEQ
          JOIN MEMBER M
            ON D.MEMBER_EMAIL = M.MEMBER_EMAIL
         WHERE D.DIARY_SEQ = #{DIARY_SEQ}
    </select>

    <!-- 일기 신고 수 -->
    <select id="diaryCount" resultType="Integer">
        SELECT count(*)
          FROM blacklist_diary
         WHERE DIARY_SEQ = #{DIARY_SEQ}
    </select>

</mapper>
