<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.go.ogamprj.mapper.AdminBoardMapper">

    <insert id="boardInsert" parameterType="com.go.ogamprj.dto.Board">
        INSERT INTO BOARD (BOARD_TITLE, BOARD_CONTENTS, BOARD_YN)
        VALUES (#{board_title}, #{board_contents}, #{board_yn})
    </insert>

    <update id="boardUpdate" parameterType="com.go.ogamprj.dto.Board">
        UPDATE BOARD SET BOARD_TITLE = #{board_title}
        , BOARD_CONTENTS = #{board_contents}
        , BOARD_YN = #{board_yn}
        WHERE BOARD_SEQ = #{board_seq}
    </update>

    <delete id="boardDelete">
        DELETE FROM BOARD WHERE BOARD_SEQ = #{board_seq}
    </delete>

    <!-- 키워드 검색 -->
    <select id="adminBoardSelectKeyword" resultType="com.go.ogamprj.dto.Board">
        SELECT *
          FROM BOARD
         WHERE board_seq IS not null
        <if test=" keyword != null and keyword != '' ">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="type != null and type != ''">
                    <choose>
                        <when test="'board_title'.equals( type )">
                            AND board_title LIKE #{keyword}
                        </when>
                        <when test="'board_date'.equals( type )">
                            AND board_date LIKE #{keyword}
                        </when>
                        <when test="'board_yn'.equals( type )">
                            AND board_yn LIKE #{keyword}
                        </when>
                    </choose>
                </when>
            </choose>
        </if>
         ORDER BY board_seq DESC
    </select>

</mapper>