@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* delete 페이지 */
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
/* .modalContainer {
    width: 487px;
    height: 400px;
    background: url("../images/v469_485.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
} */

.sideLine {
    width: 487px;
    height: 400px;
    background: url("../images/v469_486.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.outLine {
    width: 487px;
    height: 400px;
    background: rgba(220, 223, 236, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.inLine {
    width: 458px;
    height: 379px;
    background: rgb(255 255 255 / 35%);
    opacity: 1;
    position: absolute;
}

.hTitle {
    width: 124px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 22px;
    left: 45px;
    font-family: 'Pretendard-Regular';
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
}
.closeBtn {
    width: 37px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 22px;
    left: 420px;
    font-family: 'Pretendard-Regular';
    font-weight: Medium;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.deleteGuide {
    width: 376px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 69px;
    left: 50px;
    font-family: 'Pretendard-Regular';
    font-weight: Medium;
    opacity: 1;
    text-align: left;
}


.deleteBox {
    width: 402px;
    height: 55px;
    background: url("../images/v477_320.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 223px;
    left: 40px;
    overflow: hidden;
}

.deleteTitle {
    width: 114px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.passInput {
    width: 250px;
    height: 23px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 130px;
    border: 1px solid rgba(19, 5, 108, 1);
}

.reasonInput {
    width: 250px;
    height: 45px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 130px;
    border: 1px solid rgba(19, 5, 108, 1);
}

.nextBtn {
    width: 150px;
    height: 26px;
    color: white;
    background-color: #ba99fe;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 318px;
    left: 165px;
    border: 1px solid rgba(217, 217, 217, 1);
    overflow: hidden;
    font-family: 'Pretendard-Regular';
    font-weight: Medium;
    font-size: 16px;
    text-align: center;
}

.deleteBtn {
    width: 150px;
    height: 26px;
    color: white;
    background-color: #ba99fe;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 318px;
    left: 165px;
    border: 1px solid rgba(217, 217, 217, 1);
    overflow: hidden;
    font-family: 'Pretendard-Regular';
    font-weight: Medium;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
}

/* modal  */
.modalContainer {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.wrapModal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 800px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: white;
    max-height: 100vh;
    width: 487px;
    height: 400px;
    background: url("../images/v469_485.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-item: center;
/* opacity: 1;
position: relative;
top: 0px;
left: 0px;
overflow: hidden; */
}



.modal {
    display: flex;
    width: 100%;
    height: 83%;
    flex-direction: column;
    overflow-y: auto;
}