/* 전체 스타일 */
*{
    box-sizing: border-box;
    user-select: none;
}

.container{
    display: block;
    margin: auto;
    position :relative;
}

/* 사이드바 스타일 */



.bodyContainer{
    width: 99vw;
    min-width: 900px;
}


.top-menu li:hover{
    background-color: #d1cef2;
}

.footer{
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 20px;
}
.footer li{
    justify-content: center;
    font-size: 15px;
    font-weight: none;
    text-align: center;
    color: #B7B6B6;
    padding: 5px 0px;
    border-bottom: none;
    background-color: none;
}



/* 바디콘테이너 스타일 */
.bodyContainer{
    background-color: #f1f1f1;
}

/* 메뉴바 스타일 */
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 95%;
    height: 75px;
    border-radius: 15px;
    background-color: white;
}

#left-menu {
    display: flex;
    width: 100%;
}

#rigth-menu {
    display: flex;
    height: 100%;
}

.menubar span{
    display: flex;
    justify-content: space-around;
    width: 100px;
    justify-content: center;
    align-items: center;
}

/*일기작성*/
#writeDiary {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #ccbbf0;
    font-size: 2em;
    font-weight: bold;
}

#writeDiary a{
    color: white;
}

/* 공지 스타일 */
.board{
    font-size: 2em;
    font-weight: bold;
    color: #13056C;
}
.board:hover {
    transform: translateY(-10px);
    transition-duration: 2s;
}

/* 알림 스타일 */
.notifi{
    font-size: 2em;
    font-weight: bold;
    color: #13056C;
}

/* 이미지 스타일 */
#user_img{
    width: 60%;
    height: 80%;
    border: 1px solid gainsboro;
    border-radius: 50%;
    background-color: white;
}

/* 로그인 스타일 */
.login{
    font-size: 1.2em;
    font-weight: bold;
    color: #13056C;
}

/* 로그아웃 스타일 */
.logout{
    display: none;
}

/* 콘텐츠 스타일 */

.contents{
    display:block !important;
    flex-direction: column;
    height: 88vh;
}

/* 기분별 아이콘 스타일 */
.moodSelect{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    height: 20%;
    cursor: pointer;
}
.moodSelect div:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.moodSelect div {
    display: flex;
    background-color: rgb(139, 184, 232, 60%);
    border-radius: 20px;
    width: 13%;
    height: 90%;
    min-width: 110px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 9px #9d9d9d;
}

.moodSelect div > span {
    font-size: 70px;
}
.moodSelect div > p{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

/* 일기 목록 박스 스타일 */
.mood_diary {
    border-radius: 20px;
    margin : auto;
    width: 90%;
    height: 75%;
    box-shadow: 0px 0px 14px #9d9d9d;
}
.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #BA99FF;
    width: 100%;
    height: 15%;
}

.diaryContainer{
    display:grid;
    grid-template-columns : repeat(4, 1fr);
    background-color: #D9D9D9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 85%;
    overflow-y: scroll;
}
.diaryContainer::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.diaryContainer::-webkit-scrollbar-track {
background-color: grey;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}

.diaryBox {
    margin: 1vw;
}

.diary {
    position: relative;
    width: 16vw;
    border-radius: 20px;
    background-color: #ECECEC;
    box-shadow: 0px 0px 10px 10px rgba(156, 156, 156, 0.2);
    height: 15vw;
    cursor:pointer;
}

.diary-scrollbar, .diary-scrollbar, .diary-customized-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
}

.diary-scrollbar::-webkit-scrollbar {
  display: none;
}

.diary:hover{
    transform: scale(1.04);
    transition-duration: 1s;
}
.diaryContents {
    height: 65%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.diaryContentsFooter {
    display: flex;
    flex-direction:column;
    height: 35%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.diaryEmoji {
    position: absolute;
    align-items: flex-start;
    font-size: 5vw;
    bottom: 10px;
    left: 15px;

}

.diaryDate {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    height:100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.emptyData {
    display:flex;
    justify-content:center;
}

.emptyData .diaryText{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 25px;
    font-weight: bold;
    width:80%;
    height:10vw;
    margin-top:20px;
    background-color: #ECECEC;
    border-radius:20px;
    box-shadow: 0px 0px 10px 1px rgba(156, 156, 156, 0.2);
}