@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100vh;
}

body{
    display: flex;
    font-family: 'Pretendard-Regular';
    background: linear-gradient(130deg, #defcfa, #cba8e9);
    height: 100vh;
}

.container {
    width: 550px;
    display: flex;
    justify-content: center;
    align-contents: center;
    margin: auto;
}

 .wrapper {
    box-shadow: 0px 3px 4px #afafaf;
    background-color: rgb(243 243 243 / 54%);
    border-radius: 20px;
    width: 97%;
    height: 97%;
    display: flex;
    margin-top: 20px auto;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper p {
    font-size: 30px;
    text-align: center;
    margin: 6% auto;
    color: #4c4c4c;
}

label{
    text-align: end;
    display: inline-block;
    font-size: 1rem;
    margin-right: 10px;
    line-height: 31px;
    width: 10vh;
    color: #353535a8;
}

input[type="email"],
input[type="text"] {
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ebc6ff;
    width: 21vh;
    font-size: 0.9rem;
}

.underLine{
    /*border-bottom: 2px solid #908be8;*/
}


.div {
    padding: 10px;
}



.btn{
    display: block;
    margin: 5%;
    width: auto;
            height: auto;
}

.btn button{
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    height: 35px;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    background-color: #ba99fe;
    font-size: 1rem;
}
}

.input{
    width: 54vh;
    height: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 1px solid #908be8;
    size: 40px;
}



.mar-bott{

        margin-bottom: 15%;
}

.message{
    width: 100%;
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    color: #908BE8;
    margin: 0 auto;
    text-align: center;
}
