@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular';
     display: flex;
     height: 80vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DCE0ED;
    background-color: #DCE0ED;
    width: 620px;
    height: 680px;
    margin: auto;
}

.wrapper {
    border: 1px solid white;
    background-color: white;
    width: 97%;
    height: 97%;
    display: flex;
    margin: 10px auto;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper p {
    font-size: 30px;
    text-align: center;
    margin: 6% auto;
}

label{
    text-align: end;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    width: 50%;
    line-height: 31px;
}

.divBox{
display: flex;
    font-weight: bold;
    font-size: 30px;
    width: 40vh;
    height: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.underLine{
    /*border-bottom: 2px solid #908be8;*/
}


.div {
display: flex;
    width: 100%;
    margin: auto;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
}



.btn{
    display: block;
    margin: 5%;
    width: auto;
            height: auto;
}

.btn button{
    background-color: #a7baff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    height: 35px;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}

.input{
    width: 54vh;
    height: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 1px solid #908be8;
    size: 40px;
}



.mar-bott{

        margin-bottom: 15%;
}

.message{
    width: 100%;
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    color: #908BE8;
    margin: 0 auto;
    text-align: center;
}
