.container{
    border: 1px solid black;
    width: 1000px;
    height: 700px;
    margin: auto;
}

.mainLogo img{
    display: block;
    margin: auto;
    width: 50%;
 
}

label{
    text-align: end;
    display: inline-block;
    font-size: 20px;
    width: 20%;
    margin-right: 10px;
}

.idBox,
.passwordBox{
    font-weight: bold;
    display: block;
    margin: 10px auto 10px;
    padding: 10px;
    width: 50%;
}

.idBox input{
    border-width: medium;
    padding: 10px;
    width: 300px;
    size: 40px;
}

.loginBox{
    display: block;
    margin-left: 350px;
    width: 50%;

}

.loginBox button{
    border-radius: 50px;
    background-color: #a7baff;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 330px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.kakaoLoginBox{ 
    display: block;
    margin-left: 350px;
    width: 50%;
}

.kakaoLoginBox button{
    border-radius: 50px;
    background-color: #ffd702;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 330px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.findId {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}

.findId a:first-child {
    margin: 10px 40px;
} 


