@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container{
    border: 15px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #cba8e9 0%,  #defcfa 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 100%;
    width: 800px;
    height: 800px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainLogo img{
    display: block;
    margin: auto;
    width: 50%;
    cursor:pointer;
}


label{
    text-align: end;
    width: 30px;
    display: flex;
    font-size: 20px;
    width: 19%;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}


.idBox,
.passwordBox{
    font-weight: bold;
    display: flex;
    margin: 10px auto 10px;
    padding: 10px;
}


input{
    padding: 10px;
    width: 300px;
    height: 27px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 1px solid #908be8;
}
.logins{

}
.loginBox{
    display: flex;
    /* margin-left: 350px; */
    width: 100%;
    justify-content: center;
}

.loginBox button{
    border-radius: 9px;
    background-color: #a7baff;
    color: white;
    font-size: 1.2em;
    /* font-weight: bold; */
    width: 225px;
    padding: 14px 0 14px 0;
    margin: 10px;
    cursor: pointer;
    border: 0;
}

.kakaoLoginBox{ 
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.kakaoLoginBox img{
    width:225px;
}

.findId {

        display: flex;
        justify-content: center;
}

.findId a{
    margin: 15px 20px 0 20px;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9rem;
}

body{
    font-family: 'Pretendard-Regular';
    display: flex;
    align-items: center;
    height: 100vh;
}

.message{
    width: 60%;
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    color: #908BE8;
    margin: 0 auto;
    text-align: center;
}