@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container{
    border: 1px solid black;
    width: 1000px;
    height: 700px;
    margin: auto;
}

.mainLogo img{
    display: block;
    margin: auto;
    width: 50%;
    cursor:pointer;
}


label{
    text-align: end;
    display: inline-block;
    font-size: 20px;
    width: 20%;
    margin-right: 10px;
}


.idBox,
.passwordBox{
    font-weight: bold;
    display: block;
    margin: 10px auto 10px;
    padding: 10px;
    width: 50%;
}


input{
    padding: 10px;
    width: 300px;
    size: 40px;
    border-radius: 10px;
    border: 1px solid #908be8;
}
.logins{

}
.loginBox{
    display: flex;
    /* margin-left: 350px; */
    width: 100%;
    justify-content: center;
}

.loginBox button{
    border-radius: 9px;
    background-color: #a7baff;
    color: white;
    font-size: 1.2em;
    /* font-weight: bold; */
    width: 225px;
    padding: 14px 0 14px 0;
    margin: 10px;
    cursor: pointer;
    border: 0;
}

.kakaoLoginBox{ 
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.kakaoLoginBox img{
    width:225px;
}

.findId {
    font-size: 20px;
        display: flex;
        justify-content: center;
}

.findId a{
    margin: 15px 20px 0 20px;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
}

body{
    font-family: 'Pretendard-Regular';
}

.message{
    width: 50%;
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    color: #908BE8;
    margin: 0 auto;
    text-align: center;
}