.contents article {
    margin: 0px auto;
    width: 95%;
    height: 100%;
    position: relative;
}

/* 작은 스크롤 감싸는 div*/

.contents .my_currDiarys {
    display: block;
    width: 49%;
    height: 90%;
    position: relative;
    top: 20px;
    float:left;
}

.contents .my_calendar {
    display: block;
    width: 49%;
    height: 50%;
    position: relative;
    top: 20px;
    float: right;
    overflow: scroll;
}

.my_calendar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.my_calendar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.contents .rand_Diary {
    display: block;
    width: 49%;
    height: 43%;
    position: relative;
    top: 0px;
    float: right;
}

