
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html
,body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* margin-right: 50px; */
    
}
/* 팝업창 */
#wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard-Regular';
}

.line {
    display: flex;
    flex-direction: column;
    border: 10px solid #dde4fd;
    padding: 10px;
}

/* title */
#top {
    margin-bottom: 10px;
}

#title {
    font-size: 2em;
    font-weight: 650;
}

/* middle */
#middle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 7px;
}

.box {
    padding: 0px 10px 10px 10px;
    display: flex; 
    text-align: right;
    justify-content: start;
}

/* 프로필 사진 */
.box:first-child img {
    border: 1px solid black;
    margin-left: 25px;
    width: 50px;
    height: 60px;
}

/* 프로필 사진 */
#sTitle {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 10px;
    width: 105px;
    /* border: 3px solid red; */
    font-size: 1em;
  }

/* 나머지 타이틀 */
.sTitle {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1em;
    width: 160px;
    /* border: 3px solid red; */
  }

/* 소개글 박스 */
.box input,
.box textarea {
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
    border: 1px solid black;
    margin-left: 50px;
}

.box:nth-child(2) {
    height: 40px;
}

.box input,
.box textarea:focus {
    outline-color: #b5c2f2;
}

/* 이메일 박스 */
.box input[type="text"] {
    height: 20px;
}

/* 생년 월일 */
.box:nth-child(5) .sTitle {
    width: 140px;
    justify-content: flex-end;
}

#member_birth1 {
    width: 25%;
    margin-left: 50px;
}

#member_birth2,
#member_birth3 {
    width: 25%;
    margin-left: 20px;
}

/* 활성 비활성 체크 */
.box:nth-child(8) {
    display: flex;
    justify-content: center;
    /* border: 3px solid saddlebrown; */
}

.chkBox {
  /* border: 1px solid red;   */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
 }

 .chkBox1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
 }

/* 정지 */
#icon1::before {
    content: "\f023";
    font: var(--fa-font-solid);
    font-size: 35px;
    margin-top: 30px;
}

.box:nth-child(8) .sTitle {
    justify-content: center;
    margin: 5px 0px 10px 0px;
}

.black_radio {
    width: 15px;
    height: 15px;
}

/* 활 */
#icon2::before {
    content: "\f3c1";
    font: var(--fa-font-solid);
    font-size: 35px;
    margin-top: 30px;
}
/* 이미지 */
#diary_image {
    height: 100px;
}

/* 내용 textarea */
#member_content {
    height: 130px;
}


/* 정보 저장 버튼 */
#saveBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.infoSave {
    font-size: 1rem;
    width: 80%;
    height: 30px;
    margin: 50px 0px;
    background-color: #b5c2f2;
    color: white;
    border:1px solid black;
}

/* 삭제 버튼 */
#delBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.commentDel {
    font-size: 1rem;
    width: 80%;
    height: 30px;
    margin: 50px 0px;
    background-color: #b5c2f2;
    color: white;
    border:1px solid black;
}

