@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.contents {
    padding: 20px 0px;
    height: 62vw;
}

#wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard-Regular';
}

.line {
    display: flex;
    flex-direction: column;
    border: 10px solid #dde4fd;
    padding: 10px;
    width: 75%;
    height: 80vh;
    justify-content: center;
    margin: auto;
}

/* title */
#top {
    margin-bottom: 20px;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 650;
}

/* middle */
#middle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 7px;
}

/* 이메일 */
.email {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.eTitle {
    font-size: 20px;
    width: 70px;
    min-width: 70px;
    margin-left: 19px;
    text-align: end;
}

#member_email {
    margin-left: 50px;
    height: 40px;
    width: 37vw;
    margin-right: 2.2vw;
    font-size: 1.1rem;
}

/* 비밀번호 */
.password {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.pwTitle {
    font-size: 20px;
    width: 70px;
    min-width: 70px;
    margin-left: 19px;
    text-align: end;
}

#member_pw,
#member_repw {
    margin-left: 50px;
    height: 40px;
    width: 37vw;
    margin-right: 2.2vw;
    font-size: 1.1rem;
}

/* 닉네임 */
.nickName {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.nTitle {
    font-size: 20px;
    width: 70px;
    min-width: 70px;
    margin-left: 35px;
    margin-right: 35px;

}

#member_nick {
    width: 22vw;
    height: 40px;
    font-size: 1.1rem;
    margin-right: 10px;
    font-size: 1.1rem;
}

#member_nick:focus {
    outline-color: #A7BAFF;
}

#nick_chk {
    height: 45px;
    font-size: 1.1rem;
    border:none;
    background-color: #A7BAFF;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}



/* 생년월일 */
.birthday {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.bTitle {
    font-size: 20px;
    margin-left: 19px;
    width: 70px;
    min-width: 70px;
    margin-right: 30px;
}

#member_birth {
   margin-left: 20px;
       height: 40px;
       width: 37vw;
       margin-right: 2.2vw;
       font-size: 1.1rem;
}

/*성별*/
.gender {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.gTitle {
    font-size: 20px;
    margin-left: 49px;
    width: 70px;
    min-width: 70px;
}

#member_gender1,
 #member_gender2{
    height: 25px;
    width: 25%;
    margin-left: 15px;
}

/* 휴대폰 번호 */

.phone {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.phTitle {
    margin-right: 35px;
    font-size: 1.3rem;
}

#member_phone {
    margin-left: 14px;
    height: 40px;
    margin-right: 10px;
    font-size: 1.1rem;
    width: 26.5vw;
}

#member_phone:focus {
    outline-color: #A7BAFF;
}


/* 가입하기 버튼 */

.btn_bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 150px;
    align-items: flex-end;
}

#signup {
    background-color: #A7BAFF;
    width: 20vw;
    height: 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}