

.contents article {
    margin: 0px auto;
    width: 95%;
    height: 100%;
    position: relative;
}

/* 작은 스크롤 감싸는 div*/

.contents .my_currDiarys {
    display: block;
    width: 49%;
    height: 58%;
    position: relative;
    top: 20px;
    float:left;
}

.contents .frnd_currDiary {
    display: block;
    width: 49%;
    height: 58%;
    position: relative;
    top: 20px;
    float: right;
}

