<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    
    <link rel="stylesheet" type="text/css" href="css/reviseInfo.css?after" />
    <link rel="stylesheet" type="text/css" href="css/reset.css?after" />
    <link rel="stylesheet" type="text/css" href="css/test.css" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <aside th:replace="frag/user/user_sidebar :: userSidebar(currMenu='')" class="sidebar"></aside>
        <main class="bodyContainer">
            <div th:replace="~{frag/user/user_menubar :: userMenubar(${notifiSelectList}) }" class="menubar"></div>
            <div class="contents">

                 <!-- 마이 프로필 시작 -->
                <div id="wrap">
                    <form action="/reviseUpdate" method="post" enctype="multipart/form-data" id="frm">
                       <div class="base">
                            <div id="top">
                                <span id="myTitle">마이프로필</span>
                            </div>
                            <div id="middle">
                                <div id="profile">
                                    <span>
                                        <div class="pTitle">프로필</div>
                                        <div class="pTitle">사진</div>
                                    </span>
                                    <div class="photo">
                                        <span id="imgBlock">
                                                <img th:src="${member['BGIMG_PATH'] == null ? 'img/basicProfile.png' : member['BGIMG_PATH']}" id="proImg"/>
                                        </span>
                                        <label for="member_image">
                                            <div id="photoPick">사진 선택</div>
                                        </label>
                                        <span class="proDel" style="margin-left:20px;">사진 삭제</span>
                                        <input type="file" style="display:none;" accept="image/*" id="member_image" name="file" th:value="${member['BGIMG_PATH']}" />
                                        <input type="hidden" id="deleteImg" name="deleteImg" value="">
                                    </div>
                                </div>
                                <div id="intro">
                                    <span class="iTitle">소개글</span>
                                        <textarea name="member_intro">[[ ${member.MEMBER_INTRO} ]]</textarea>
                                </div>
                                <div id="email">
                                    <span class="eTitle">이메일</span>
                                    <span class="part1">
                                        <span><input type="text" name="id" class="emailBox" th:value="${member.MEMBER_EMAIL}" readonly/></span>
                                    </span>
                                </div>
                                <div class="password">
                                    <span class="pwTitle">
                                        <div>비밀번호</div>
                                    </span>
                                    <input type="password" th:placeholder="${session['accessToken']} ? 'Kakao 로그인' " th:disabled="${session['accessToken']} ? 'disabled'" id="member_pw" name="member_pw" th:value="${member['MEMBER_PW'] == null ? '' : member['member_pw']}" onchange="new_pw_chk()"/>
                                </div>
                                <div class="password">
                                    <span>
                                        <div class="pwTitle">비밀번호</div>
                                        <div class="pwTitle">재확인</div>
                                    </span>
                                    <input type="password" th:placeholder="${session['accessToken']} ? 'Kakao 로그인' " th:disabled="${session['accessToken']} ? 'disabled'" id="member_repw" onchange="chk_pwd()" />
                                    <input hidden id="kakaoLoginChk" th:value="${session['accessToken']}"/>
                                </div>
                                <div class="nickName">
                                    <div class="nTitle">닉네임</div>
                                    <input type="text" id="member_nick" name="member_nick" th:value="${member.MEMBER_NICK}"/>
                                    <input type="button" id="nick_chk" onclick="uniqueChk()" value="중복확인">
                                </div>
                                <div class="birthday">
                                    <div class="bTitle">생년월일</div>
                                    <input type="text" placeholder="YYYY" required pattern="19[0-9][0-9]|20\d{2}" id="member_birth1" name="member_birth1" th:value="${year}"/><span class="ymd">년</span>
                                    <input type="text" placeholder="MM" required pattern="0[0-9]|1[0-2]" id="member_birth2" name="member_birth2" th:value="${month}"/><span class="ymd">월</span>
                                    <input type="text" placeholder="DD" required pattern="0[1-9]|[1-2][0-9]|3[0-1]" id="member_birth3" name="member_birth3" th:value="${day}"/><span class="ymd">일</span>
                                </div>
                                <div class="phone">
                                    <div class="phTitle">휴대폰번호</div>
                                    <input type="text" id="member_phone" name="member_phone" placeholder="전화번호 입력" th:value="${member['MEMBER_PHONE'] == null ? '' : member['MEMBER_PHONE']}" readonly/>
                                </div>
                            </div>
                            <div class="btn_bottom">
                                <input type="button" id="finish" value="회원정보 수정하기" onclick="reviseInfoSubmit()">
                                <input type="hidden" name="member_email" th:value="${member.MEMBER_EMAIL}"/>
                            </div>
                           <div class="btn_delete">
                               <p><a href="#modal" rel="modal:open">탈퇴하기</a></p>
                           </div>
                       </div>
                    </form>
                </div>
                <!-- 마이 프로필 끝 -->
                <!-- modal 1 -->
                <div id="modal" style="height:420px;" class="modalContainer">
                    <div class="wrapModal">
                        <span class="sideLine">
                          <div class="outLine"></div>
                          <div class="inLine"></div>
                        </span>
                        <div>
                            <span class="hTitle">탈퇴하기</span>

                        </div>
                        <span class="deleteGuide">
                          <div>
                            회원탈퇴를 신청하기 전에 <strong>안내 사항</strong>을 꼭 확인해
                            주세요.
                          </div>
                          <div>
                            - 탈퇴 시, 등록한 게시물은
                            <strong style="color: red">전체 삭제</strong>됩니다.
                          </div>
                        </span>
                        <span class="line"></span>

                        <!-- form -->
                            <div class="deleteBox">
                                <span class="deleteTitle">비밀번호</span>
                                <input type="password" class="passInput" id="member_pwd" />
                            </div>
                            <a type="button" class="nextBtn" href="#modal2" rel="modal:open" >진짜...? 😥</a>
                        <!-- form end -->
                    </div>
                </div>
                <!-- modal end -->
                <div id="modal2" style="height:420px;"  class="modal">
                    <!-- modal 2 -->
                        <div class="wrapModal">
                            <div class="sideLine">
                                <div class="outLine"></div>
                                <div class="inLine"></div>
                            </div>
                            <div>
                                <span class="hTitle">탈퇴하기</span>
                            </div>
                            <span class="deleteGuide">
                              <div>
                                회원탈퇴를 신청하기 전에 <strong>안내 사항</strong>을 꼭 확인해
                                주세요.
                              </div>
                              <div>
                                - 탈퇴 시, 등록한 게시물은
                                <strong style="color: red">전체 삭제</strong>됩니다.
                              </div>
                            </span>
                            <div class="line"></div>

                            <!-- form -->
                            <form action="/delMember" method="post">
                                <div class="deleteBox">
                                    <div class="deleteTitle" name="member_quited_reason">왜 떠나..?</div>
                                    <textarea
                                            class="reasonInput"
                                            type="text"
                                            id="deleteInput"
                                            placeholder="떠나는 이유를 적어 주세요... 😥"
                                    ></textarea>
                                </div>
                                <input type="hidden" name="member_pw" id="member_pass" value=""/>
                                <button type="submit" class="deleteBtn" >탈퇴하기 😥</button>
                                <!-- <a href="../userDashboard.html" class="deleteBtn">탈퇴하기 😥</a> -->
                            </form>
                            <!-- form end -->

                        </div>
                    </div>
                    <!-- modal2 end -->
                </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
<!--    닉네임 중복확인-->
        function uniqueChk() {
            let member_nick = $('#member_nick').val();

            if(member_nick.length == 0){
                alert("닉네임이 너무 짧습니다😫");
                return;
            }

            $.ajax({
                url: '/unique',
                data: {"member_nick":member_nick},
                type:'post',
                success: function(name) {
                    if (name == 1) {
                        alert("이미 사용 중인 닉네임입니다🙁");
                        return;
                    } else if(name == 0) {
                        alert("사용가능한 닉네임입니다☺️");
                        $("input[name='nicky']").val('y');
                    }
                },
                error: function() {
                    alert(name);

                }
            })
        }

        //이미지 선택하면 미리보기
        $('#member_image').on("change", function(event) {
            var file = event.target.files[0];

            var reader = new FileReader();
            reader.onload = function(e) {
                $('#proImg').attr("src", e.target.result);
            }
            reader.readAsDataURL(file);
            $("#deleteImg").val("");
        })

        // 사진삭제버튼
        $('.proDel').on("click", function() {
            $('#proImg').attr("src", 'img/basicProfile.png');
            $("#deleteImg").val("Y");
        });

        //탈퇴할 때 비밀번호 확인
       $('#member_pwd').on("change", function() {
            var pw = $('#member_pwd').val();
            $("#member_pass").val(pw);
       })


    </script>
    <link rel="stylesheet" type="text/css" href="css/deleteUser.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="js/reviseInfo.js" type="text/javascript"></script>
</body>

</html>