<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="css/deleteUser.css" />
    <link rel="stylesheet" type="text/css" href="css/friendList.css" />
    <link rel="stylesheet" type="text/css" href="css/reviseInfo.css" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <script src="https://kit.fontawesome.com/f9358a6ceb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="top-menu">
                <ul>
                    <li>
                        <div id="mainImg">
                            <a href="#">
                                <img src="/Img/logoImg.png" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <span> <i class="fa-solid fa-users-rectangle"></i></span>
                            <span>내 일기장</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span> <i class="fa-solid fa-table"></i></span>
                            <span>친구의 일기장</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span> <i class="fa-solid fa-house-user"></i></span>
                            <span>오늘의 일기장</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <ul>
                    <li>
                        대표 : 이건희
                    </li>
                    <li>
                        대표번호 : 010 - 1111 - 1111
                    </li>
                    <li>
                        개인정보취급방침
                    </li>
                    <li>
                        이용약관
                    </li>
                    <li>
                        COPYRIGHT 2022 BY diary. <br />
                        All Rights Reserved.
                    </li>
                </ul>
            </div>
        </aside>
        <main class="bodyContainer">
            <div class="menubar">
                <div id="left-menu">
                    <span id="writeDiary">
                        <a href="#">감정 작성하기</a>
                    </span>
                </div>
                <div id="rigth-menu">
                    <span class="board">
                        <a href="#">
                            <span>공지</span>
                        </a>
                    </span>
                    <span class="notifi">
                        <i class="fa-regular fa-comment-dots"></i>
                    </span>
                    <span>
                        <img src="/img/food1.jpg" id="user_img">
                    </span>
                    <span class="login">
                        <a href="#">
                            <span>로그인</span>
                        </a>
                    </span>
                    <span class="logout">
                        <a href="#">
                            <span>로그아웃</span>
                        </a>
                    </span>
                </div>
                <div id="notifi_modal" class="notifi_wrapModal">
                    <div id="notifi_title">알림</div>
                    <div class="title">최근 알림</div>

                    <div class="currentNotifi">
                        <div id="currentNotifi_contents">
                            <img src="/Img/logoImg.png" />
                            <p>호준님이 친구신청을 요청 했습니다.</p>
                        </div>

                    </div>
                    <div class="notifi_wrapModal"></div>
                </div>
            </div>
            <div class="contents">

                 <!-- 마이 프로필 시작 -->
                <div id="wrap">
                    <form action="/reviseUpdate" method="post">
                       <div class="base">
                            <div id="top">
                                <span id="myTitle">마이프로필</span>
                            </div>
                            <div id="middle">
                                <div id="profile">
                                    <span>
                                        <div class="pTitle">프로필</div>
                                        <div class="pTitle">사진</div>
                                    </span>
                                    <div class="photo">
                                        <!-- 나중에 이미지로 바꿔주기 -->
                                        <span id="imgBlock">
                                            <th:block th:if="${member.MEMBER_IMAGE}">  <!--사진이 null이면 안 보임-->
                                                <img th:src="${member.MEMBER_IMAGE}"/>
                                            </th:block>
                                        </span>
                                        <label for="member_image">
                                            <div id="files">사진 선택</div>
                                        </label>
                                        <input type="file" onchange="click_img(event)" accept="image/*" id="member_image" name="member_image"/>
                                    </div>
                                </div>
                                <div id="intro">
                                    <span class="iTitle">소개글</span>
                                    <textarea name="member_intro">[[ ${member.MEMBER_INTRO} ]]</textarea>
                                </div>
                                <div id="email">
                                    <span class="eTitle">이메일</span>
                                    <span class="part1">
                                        <span><input type="text" name="id" class="emailBox" th:value="${member.MEMBER_EMAIL}" readonly/></span>
                                    </span>
                                </div>
                                <div class="password">
                                    <span class="pwTitle">
                                        <div>새로운</div>
                                        <div>비밀번호</div>
                                    </span>
                                    <input type="password" id="member_pw" name="member_pw" onchange="new_pw_chk()"/>
                                </div>
                                <div class="password">
                                    <span>
                                        <div class="pwTitle">비밀번호</div>
                                        <div class="pwTitle">재확인</div>
                                    </span>
                                    <input type="password" id="member_repw" onchange="chk_pwd()"/>
                                </div>
                                <div class="nickName">
                                    <div class="nTitle">닉네임</div>
                                    <input type="text" id="member_nick" name="member_nick" th:value="${member.MEMBER_NICK}"/>
                                    <input type="button" id="nick_chk" onclick="uniqueChk()" value="중복확인">
                                </div>
                                <div class="birthday">
                                    <div class="bTitle">생년월일</div>
                                    <input type="text" placeholder="YYYY" required pattern="19[0-9][0-9]|20\d{2}" id="member_birth1" name="member_birth1" th:value="${year}"/>
                                    <input type="text" placeholder="MM" required pattern="0[0-9]|1[0-2]" id="member_birth2" name="member_birth2" th:value="${month}"/>
                                    <input type="text" placeholder="DD" required pattern="0[1-9]|[1-2][0-9]|3[0-1]" id="member_birth3" name="member_birth3" th:value="${day}"/>
                                </div>
                                <!-- 휴대폰 인증 -->
                                <div class="phone">
                                    <div class="phTitle">휴대폰번호</div>
                                    <input type="text" id="member_phone" name="member_phone" placeholder="전화번호 입력" th:value="${phone}"/>
                                    <input type="submit" value="인증번호 받기" id="chkBtn"/>
                                </div>
                                <div>
                                    <input type="text" id="double_chk_phone" placeholder="인증번호 입력"/>
                                </div>
                            </div>
                            <div class="btn_bottom">
                                <input type="submit" id="finish" value="회원정보 수정하기" onclick="allchk()">
                                <input type="hidden" name="member_email" th:value="${member.MEMBER_EMAIL}"/>
                            </div>
                           <div class="btn_delete">
                               <p onclick="delete_Modal()">탈퇴하기</p>
                           </div>
                       </div>
                    </form>
                </div>
                <!-- 마이 프로필 끝 -->
                <!-- modal 1 -->
                <div id="modal" class="modalContainer">
                    <div class="wrapModal">
        <span class="sideLine">
          <div class="outLine"></div>
          <div class="inLine"></div>
        </span>
                        <div>
                            <span class="hTitle">탈퇴하기</span>
                            <span class="closeBtn" onclick="closeModal()">🗙</span>
                        </div>
                        <span class="deleteGuide">
          <p>
            회원탈퇴를 신청하기 전에 <strong>안내 사항</strong>을 꼭 확인해
            주세요.
          </p>
          <p>
            - 탈퇴 시, 등록한 게시물은
            <strong style="color: red">전체 삭제</strong>됩니다.
          </p>
        </span>
                        <span class="line"></span>

                        <!-- form -->
                        <form action="./deleteUser2.html" method="post">
                            <div class="deleteBox">
                                <span class="deleteTitle">비밀번호</span>
                                <input type="password" class="passInput" />
                            </div>
                            <button type="submit" class="nextBtn">진짜...? 😥</button>
                        </form>
                        <!-- form end -->

                    </div>
                </div>
                <!-- modal end -->
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>

        function uniqueChk() {
            let member_nick = $('#member_nick').val();

            $.ajax({
                url: '/unique',
                data: {"member_nick":member_nick},
                type:'post',
                success: function(success) {
                    if(member_nick.length == 0){
                        alert("닉네임이 너무 짧습니다😫");
                        return;
                    } else if (success == 1) {
                        alert("이미 사용 중인 닉네임입니다🙁");
                        return;
                    } else if(success == 0) {
                        alert("사용가능한 닉네임입니다☺️");
                        $("input[name='nicky']").val('y');
                    }
                },
                error: function() {
                    alert("error");
                }
            })

        }


    </script>
    <script type="text/javascript" src="js/deleteUser.js"></script>
    <script src="js/friendList.js" type="text/javascript"></script>
    <script src="js/reviseInfo.js" type="text/javascript"></script>
</body>

</html>